[2012-09-26 08:48] stonier opened #1 "Battery monitor to general linux robots stack"
- https://kforge.ros.org/turtlebot/trac/ticket/76

We suggest a new "linux_robots" stack or whatnot. Put things like this there.

[2012-09-26 12:33] rgariepy commented on #1
linux_robots seems like a "common"/"utils" stack name - at risk of clutter

[2012-09-26 14:32] LucidOne commented on #1
On Wed, 2012-09-26 at 05:33 -0700, rgariepy wrote:

linux_drivers seems appropriate only for drivers that won't work on
other platforms like FreeBSD, OSX, etc. Specifically drivers that make
calls to the kernel / ACPI.

[2012-09-27 05:19] stonier opened #2 "Bump sensor in navigation"
Looks like they recently added bump sensors to the navigation - see http://github.com/turtlebot/turtlebot_apps/commit/339f3dbf6726109460e2483906fd730f76a63151

Check it out for kobuki, we probably need to be publishing something here.

[2012-09-27 05:26] stonier commented on #2
Moved to turtlebot_apps.

[2012-09-27 05:26] #2 closed, assigned to stonier

[2012-09-27 05:27] stonier commented on #1
I was just about to start moving tickets from [trac](https://kforge.ros.org/turtlebot/trac)...not actually working on most of them yet, but thanks for the input guys.

[2012-09-27 05:29] stonier opened #3 "Battery monitoring reparameterisation"
We updated the monitoring in parallel to do a scan of the proc BAT# entries - put their parameterised method back in.

[2012-09-27 08:06] #3 closed, assigned to stonier

[2012-09-27 10:55] stonier opened #4 "Move view_xxx.launch to desktop"
Currently lurking in turtlebot_bringup, but should be in one of the desktop packages instead.

[2012-09-27 11:04] stonier commented on #4
Convert the [turtlebot_viz](http://ros.org/wiki/turtlebot_viz) stack and bring it to github, create a package for these here.

[2012-09-27 11:32] stonier commented on #4
Move the diagnostics launcher there too?

[2012-09-27 11:55] stonier opened #5 "Openni crashing"
The nodelet from openni_camera seems to be crashing alot

[code]

Try the heavier openni_launch?

[2012-09-27 12:47] stonier commented on #5
New openni packages:
- http://userpages.uni-koblenz.de/~lsarnecki/deb/

Also...that nodelet may be a bit crashy. Test openni_launch and see if its not so crash, even if its a bit heavier.

[2012-09-27 13:38] LucidOne commented on #4
As far as I understand we need a package called turtlebot2_description
or kobuki_description in addition to a package called
turtlebot_description. The turtlebot 1 urdf should still be accessible
for backwards compatibility.

[2012-09-27 23:24] stonier commented on #4
Descriptions are different - I'm just looking at moving various tools and utilities that are for monitoring purposes out of 'bringup'. I'm currently abusing the idea of bringup by putting them there now.

[2012-09-27 23:29] stonier opened #6 "Robot Descriptions and Models"
Some thoughts:
- Keep using turtlebot_descriptions, no real need for a new package.
- Also keep kobuki_descriptions, some people will may wish to build non-turtlebot kobuki platforms.
- Move the new stacks and poles descriptions into turtlebot_description.
- Use the new ones by default, provide an argument for loading up the old ones.
- Roslaunch 'base' argument and TURTLEBOT_BASE environment vari

[2012-09-27 23:30] stonier opened #7 "Kobuki Node"
Keep kobuki_node as its own stack - some users may wish to build non-turtlebot kobukis.

Same case could possibly be made for the irobot'ish turtlebot_node.

[2012-09-27 23:31] stonier commented on #5
Nodelet is still definitely very crashy.

[2012-09-27 23:32] stonier opened #8 "Fix app manager closure"
It bugs out when ctrl-c'ing.

Not a priority, maybe really not a priority if we want to replace it shortly anyway.

[2012-09-27 23:37] stonier opened #9 "Kinect Transform is Jumping"
It's bouncing around in rviz when using openni.launch.

[2012-09-27 23:38] stonier opened #10 "No cloud with openni.launch"
No cloud being viewed when running openni.launch

[2012-09-27 23:47] stonier opened #11 "Kinect depth mode: 2 -> 8"
On recommendation from someone here, mode of 2 was really slow.

Change it and test it for a while.

[2012-09-27 23:51] stonier commented on #9
Our openni is publishing a transform...that doesn't match our xacro file. Currently, we've turned tf publishing in openni but if we we want to use the openni launcher probably should disable the transform in the xacro file and let openni do it's job. Does the same apply to the openni_camera nodelet?

[code]

[2012-09-27 23:58] stonier commented on #10
openni_launch:
- if depth_registration is true, we can see on /camera/depth_registered/image_raw
  *\* but no /camera/depth/points
- if depth_registration is false, the situation is reversed

Note that the openni_camera nodelet is using depth_registration true, and /camera/depth/points is working.

Wtf is depth_registration? :P

[2012-09-28 00:41] tfoote commented on #9
I would suggest keeping it off in the camera and defined in the xacro.  That keeps all the tree info coming from one place.  The openni publishing tf is mostly so that a camera unattached to anything can be viewed in rviz.

[2012-09-28 00:44] tfoote commented on #10
Depth registration turns on registration of the color image with the depth
image.  Otherwise you get a color image and the depth image, from their
own coordinate frame.  I think you should see the points coming out at
/camera/color/points with registration on.

On Thu, Sep 27, 2012 at 4:58 PM, Daniel Stonier notifications@github.comwrote:

##

Tully Foote
tfoote@willowgarage.com
(650) 475-2827

[2012-09-28 00:44] LucidOne commented on #10
I believe depth_registration is to enable/disable hardware registration.
AFAIK, the Kinect does not support hardware depth registration, but the
Xtion and the PrimeSensor do.

On Thu, 2012-09-27 at 16:58 -0700, Daniel Stonier wrote:

[2012-09-28 00:58] stonier commented on #11
- Mode 2 is VGA (640x480)
- Mode 8 is QVGA (320x240)

[2012-09-28 01:05] stonier commented on #11
Dont know if you'd call this an enhancement!

[2012-09-28 01:05] stonier opened #12 "Depth Registration"
For the openni_camera nodelet, the yaml in turtlebot sets depth registration to true, but points show up on /camera/depth/points instead of /camera/depth_registered/points - why?

[2012-09-28 01:07] stonier commented on #5
The openni_launch is crashing the same way...about 50% of the time.

[2012-09-28 01:07] tfoote commented on #11
I don't think this is perferrable.  I'd make sure that you're subscribing with the right datatype such that you're doing pointer passing not serializing and deserializing.  You need to be careful how you subscribe to the point cloud messages such that they publish and subscribe with boost shared pointers of _exactly_ the same type pcl::PointCloud<PointXYZ> or pcl::PointCloud<PointXYZRGB> depending

[2012-09-28 01:11] stonier opened #13 "Merge kobuki_teleop into turtlebot"
We added some velocity smoothing, put it in turtlebot.

Might also put our yujin_keyop in kobuki, we still tend to use that over the turtlebot one.

[2012-09-28 01:20] tfoote commented on #5
There's several versions of openni we're trying to figure out which one is most stable.  Unfortunately the newest one is not necessarily more stable. @vrabaud have we made progress on choosing this?

[2012-09-28 01:20] stonier commented on #11
Thanks for the info Tully.

[2012-09-28 01:22] #11 closed, assigned to stonier

[2012-09-28 01:32] stonier opened #14 "amcl_demo spams 'off the map' messages"
Until you initialise it properly, the initial pose is off the willow map.

Do some args magic so it avoids this for the demo.

[2012-09-28 01:37] stonier commented on #14
ach, wrong place...fixed in turtlebot_apps.

[2012-09-28 01:37] #14 closed, assigned to stonier

[2012-09-28 02:06] stonier commented on #9
Ok, that logic makes good sense...just have to work out why it's publishing a slightly offset frame then.

[2012-09-28 02:45] stonier opened #15 "Merge kobuki apps"
Most are the same, we have a different chirp.

Not going to worry about doing anything different for turtlebot2 till we have a better gateway model/android pairing setup a few months down the line (us, austin and osrf).

[2012-09-28 03:13] stonier opened #16 "System configuration"
What's the best way to kill this? At the moment we have at least three things we'd like to configure.
- /proc/xxx naming for the battery.
- The base - create or kobuki
- The stacks - t1 or t2.

The current plan is to set environment variables:
- TURTLEBOT_BASE - you can see in minimal.launch
- TURTLEBOT_STACKS - not yet
- TURTLEBOT_BATTERY - not yet

and pull them into roslaunched args:

[code]

M

[2012-09-28 03:24] LucidOne commented on #16
Our plan was to use turtlebot_config to handle this and the usb serial
port issues. Vendors would ship a vendor config debian that describes
the laptop, base, stacks, etc and the turtlebot_config would read that
config file and generate the appropriate /etc/ros files.
turtlebot_config already has a gui that can walk users through base and
stack selection.

The URDF compositor can then output the r

[2012-09-28 05:15] stonier commented on #15
Moved this to the turtlebot apps stack, turtlebot/turtlebot_apps/issues/3.

Only need to remember to update the turtlebot_bringup/apps platform specific app lists here.

[2012-09-28 13:09] stonier commented on #10
Ok, I'm crystal now. If you want to do less processing and just work on depth clouds, you turn it off. Otherwise flag it so that openni knows it has to apply the transform.

Interesting about the xtion.

[2012-09-28 13:09] #10 closed, assigned to stonier

[2012-09-28 15:14] vrabaud commented on #5
That is the typical error where you need to do a "killall -9 XnSensorServer". The latest version of OpenNI in unstable (1.5.4) is the best but it can still lead to errors. I think we all agreed to release it for Oneiric/Precise. Let me push Jon for that.

[2012-10-04 01:31] jihoonl opened #17 "tf2 integration"
Brain mentioned about the new model for tf message which helps to reduce the tf transform computation.

tf2 is a server/client model for tf messages. tf2 may help the tf transform computation in low-power system like android.

http://www.ros.org/wiki/tf2

Worth to check

[2012-10-04 02:39] stonier commented on #16
That looks like an option - I'll leave in the environment variables for now so I can continue, and come back to finding a way to integrating this once we're a bit more complete.

[2012-10-04 02:40] stonier commented on #17
I like this!!!!!!

[2012-10-04 03:01] tfoote commented on #17
It's quite stable now.  There's one namespace issue left from a past
review, but the math is solid.  We're using it in the pr2_plugs stack.

It's designed to support slower connections and optimize processor usage
etc.   It's mostly been waiting on a strong driving use case to recommend
it for replacement of tf.  And there's lots of documentation that will need
to be updated.

There's one outstand

[2012-10-04 03:08] stonier commented on #17
It came up talking with Brian and Adam about the android rviz. The tf there consumes alot of computation power on the android since it receives messages and does calculations locally.

Brian suggested running a tf2 server on the robot and have the android contact the server for results. i.e. effectively moving all that computation off the android to the robot. Seems like a very nice use case for a

[2012-10-04 08:50] stonier commented on #15
Goal is to have one turtlebot_bringup/apps/turtlebot_apps.installed file (currently create and kobuki versions).

Mostly this entails:
- editing launchers in turtlebot_teleop/sounds/follower so that they work.
- compare with launchers in kobuki_android_apps and kobuki_other_apps

One major exception is chirps....which compiles and runs an entirely kobuki based program. Turtlebot1 doesn't actually

[2012-10-04 09:37] jihoonl commented on #15
android_teleop.launch requires mjpeg_server package to stream video. Should we put this dependency in the rosinstall file?

[2012-10-04 11:10] stonier commented on #15
Not really - we're not going to be updating mjpeg_server code. For anything we're not likely to update I use debs, for anything we are likely to update (or doesn't have debs), I put in the rosinstall file.

[2012-10-04 11:12] stonier opened #18 "Move and debug issues from kforge trac"
- https://kforge.ros.org/turtlebot/trac

[2012-10-08 01:22] jihoonl commented on #15
Done. and tested. All five apps(Teleop, Make a map, Nav, Chipr, and Follower) are launched without error.

[2012-10-08 01:22] #15 closed, assigned to jihoonl

[2012-10-12 03:48] bit-pirate opened #19 "Push turtlebot1 stack meshes down into own folder"
such as turtlebot2 stack meshes are now in ../meshes/turtlebot2_stack.
Any objections?

[2012-10-12 03:54] bit-pirate opened #20 "Verfiy and unify kinect&xtion urdfs"
Check to what extend we can unify the kinect & xtion related urdfs for both turtlebot 1 & 2.

If the camera mounting in both robots is different we could create a common kinect/xtion.urdf, which is include by turtlebot_kinect.urdf and turtlebot2_kinect.urdf (same for xtion). The robot-specific would include the mounting plate and poles.

In this process varify the calibration parameters for both c

[2012-10-12 05:30] LucidOne commented on #19
I feel like there should be a turtlebot2_description package and/or a kobukibot_description package

[2012-10-12 05:32] LucidOne commented on #20
Please look at our URDF compositor, it already handles some of this and works with the new plates for "turtlebot_metric"
https://github.com/IHeartRobotics/iheart-ros-pkg/tree/master/ihe_hardware/urdf_compose

[2012-10-12 05:59] bit-pirate commented on #19
Kobukibot is Turtlebot2 consisting of Kobuki + Turtlebot2 stack . We officially discarded the first name to avoid confusion (also see [naming issue](https://github.com/yujinrobot/kobuki/issues/150) in the kobuki repo). We are working on moving turtlebot2-specific files to the turtlebot repo and keeping kobuki-only things in the kobuki repo. Hence, you will find the kobuki description there and the

[2012-10-12 06:12] bit-pirate commented on #20
OK, I will. I only took a brief look at it so far.

[2012-10-14 01:57] stonier commented on #9
After some recent hacking to get the robot xacro files updated for kobuki, this came back to bite. I believe they took out the kinect_frames launcher to get it to work. But it worries me that we don't know why it was working for the create based turtlebot originally.

We need to get to the bottom of it this week.

[2012-10-14 02:04] stonier commented on #19
Hit this again - I missed some of the details when marcus raised the naming issue. See there for details.

[2012-10-14 02:06] stonier commented on #13
Done in turtlebot/turtlebot_apps/issues/7

[2012-10-14 02:06] #13 closed, assigned to stonier

[2012-10-17 02:59] stonier opened #21 "Install Bill's Fuerte OS for testing"
Need to check that everything turtlebot2 is running on Bill's os install. Use this for the korean launch show.

[2012-10-18 04:19] stonier commented on #9
Ok, I finally sat down myself and had a good look at this. I'm seeing no less than three different definitions for the camera_link->camera_depth_frame and camera_link->camera_link->camera_rgb_frame transforms. Values below are for the y components of the transforms in each of the two transforms
- kinect_frames.launch : -0.025 and -0.045
- current turtlebot xacro : 0.018 and -0.005
- the yujin lads

[2012-10-18 07:28] stonier commented on #16
Bill, got some questions about this - I'll put them on turtlebot-config.

[2012-10-18 10:36] stonier commented on #6
Changes in robot descriptions:

**Camera link transform** :    previously relative to plate 2. However plates aren't fixed in the [REP](http://www.ros.org/reps/rep-0119.html) and ours differ also. REP does specify a transform relative to the base link, which we've followed, so we'll set up the kinect xacro's camera link relative to the base link at that distance.

[2012-10-18 12:22] stonier commented on #6
9d44ccfb77324de3bb0286de4d75361705af0bd0 starts moving to the component based xacros and reconfigures the kinect in particular to work off the REP specified base_link to rgb camera parameters.

[2012-10-18 23:25] stonier opened #22 "Rename kinect.launch -> 3dsensor.launch"
We're hoping to start using the asus more exclusively. This renaming makes sense.

[2012-10-19 04:55] jihoonl commented on #22
We should recheck android_map_nav.launch later

it references kinect_depth_frame in line 16.

[2012-10-19 05:00] jihoonl commented on #22
I'm omitting turtlebot_arm stack. It has too many unknown things.

[2012-10-19 05:04] jihoonl commented on #22
turtlebot_gazebo stack uses kinects many places.  I am not sure how I should fix this. omitting this as well.

[2012-10-19 05:49] jihoonl commented on #22
Apps are tested and working well.

[2012-10-19 06:49] jihoonl commented on #22
I will keep it open to discuss for arm and gazebo stack

[2012-10-22 15:18] stonier commented on #6
f4c3dc644bc041a4cfe772a6970a888b0857ecc1 and e97f5844a53caf58c67c35313817c13826c66c9d provide a launcher for publishing and viewing the various robot models (defined by args).

[2012-10-22 15:27] stonier commented on #6
880f41fdd784172e269174d17be620062057ca1a is pretty messy, but does a few things:
- consolidates component xacros around properties defined for the REP base_link-camera_rgb_frame specification.
- Gets the asus xtion pro (with mesh) to show up properly in rviz.
- Sets measured defaults for prime sense rgb-depth frame transform (#9).

We'll do a proper calibration test later to verify transforms for

[2012-10-22 15:29] stonier commented on #9
- Set measured defaults in the kinect/xtion xacros for the rgb-depth frame transform in 880f41fdd784172e269174d17be620062057ca1a.
- Removed kinect_frames includes everwhere in turtlebot/turtlebot_apps/issues/12.

We'll do a proper calibration test later to verify transforms for the kinect/xtion pro later (mostly for our curiosity).

[2012-10-23 02:17] bit-pirate commented on #6
We just stumbled upon another detail:

The REP specifies the exact _base_link_ -> _camera_rgb_frame_ transformation. I am used to put _base_link_ on the axis of the main wheels and in the middle between both. However, for the Turtlebot and REP it looks like _base_link_ is located at the bottom of the iCreate body.

I recommend moving the _base_link_ up to the axis of the main wheels and adjust the

[2012-11-02 08:09] stonier commented on #20
Ours is working, let's look at the compositor when bill arrives.

[2012-11-02 08:09] #20 closed, assigned to bit-pirate

[2012-11-02 08:10] stonier commented on #9
Closing for now - it's working for us, reopen if necessary later or we missed something.

[2012-11-02 08:10] #9 closed, assigned to stonier

[2012-11-02 08:11] #22 closed, assigned to stonier

[2012-11-02 08:13] stonier commented on #12
It's the openni.launch which is doing all the topic renaming magic. Since we're not using that, and the nodelet doesn't do the same magic, we get this. Probably something that could/should be fixed, but not a priority or necessary. We'll do something in groovy if openni is still confusing there.

[2012-11-02 08:13] #12 closed, assigned to stonier

[2012-11-02 08:13] jihoonl commented on #8
Ticket is issued in kforge app mandroid project in kforge. Will wait for a week and decide whether we migrate the app_manager code into turtlebot organization

[2012-11-02 08:13] stonier commented on #16
Look at urdf compositer with bill when he arrives.

[2012-11-03 12:56] stonier commented on #7
Confirming - staying in it's own stack and we've also made the turtlebot/create stack.

[2012-11-03 12:56] #7 closed, assigned to stonier

[2012-11-03 13:02] stonier commented on #6
I'd like that - but just copied the create method for now (base_link refers to the point on the bottom of the base mould) as it was less work. I think we should be using base_footprint in the long run anyway.

Refer to 70bc4f907aeb6e921bce303c675d176b5b737086.

[2012-11-03 13:05] stonier opened #23 "Tag a fuerte rosinstaller"
Get tags for a fuerte rosinstall, just for reference before we launch into groovy.

[2012-11-03 13:05] stonier opened #24 "Groovy rosinstaller"
...

[2012-11-03 14:48] stonier commented on #24
0c45d371607fc6b80b96420bb6414099814346d gets things rosinstalled. Now to start checking compilation.

[2012-11-03 14:49] stonier commented on #23
f839aa4d74536818ba64e29b13fd3262d8e62e27

[2012-11-03 14:49] #23 closed, assigned to stonier

[2012-11-03 17:48] stonier commented on #24
zeroconf_implementations split into zeroconf_avahi and zeroconf_comms - removes java dependency.

[2012-11-03 17:48] stonier commented on #24
Added rqt to the sources since it doesn't have a deb for groovy yet.

[2012-11-03 17:49] stonier opened #25 "Groovy updates"
List of updates to make things groovy-ready.

[2012-11-03 17:50] stonier commented on #25
No more pcl dependency. It is now a 3rd party library and cmake now needs to use find_package to find it. See updates in kobuki_node and pointcloud_to_laserscan.

It gets installed via ros-groovy-pcl, but is not a ros package.

[2012-11-03 17:58] stonier commented on #25
rqt has no debs, so installing it via sources.

*****************\* BROKEN PACKAGE - QT_GUI_CPP *******************

Also, rqt cpp stuff is not compiling (we're using python, so not a big issue).

[2012-11-03 18:11] jihoonl commented on #25
*****************\* BROKEN PACKAGE - ROBOT_STATE_PUBLISHER *******************

In order to make the command work below...create robot_state_publisher directory in /opt/ros/groovy/lib and copy /opt/ros/groovy/bin/robot_state_publisher to the directory

rosrun robot_state_publisher robot_state_publisher
- https://kforge.ros.org/robotmodel/Trac/ticket/8 - fixed

[2012-11-03 18:15] stonier commented on #25
Is that the right way to handle binaries that are 'catkin' installed in /bin?

Yes - binaries should go in lib/pkg_name, refer to http://www.ros.org/reps/rep-0122.html#lib-ros-package-name

[2012-11-03 18:15] #19 closed, assigned to bit-pirate

[2012-11-03 18:36] jihoonl commented on #25
*****************\* BROKEN PACKAGE - MAP_STORE *******************

Get it from source

It's also in the turtlebot_groovy.rosinstall since there is no deb yet.

Changes in map_store CMakeLists.txt
1. uncomment
   rosbuild_add_boost_directories()
2. add rosbuild_link_boost under each executable

rosbuild_link_boost(map_saver thread)
rosbuild_link_boost(map_manager thread)

Unfortunately no tracker

[2012-11-03 18:38] corot commented on #25
*****************\* BROKEN PACKAGE - MJPEG_SERVER *******************

I removed the dependency on opencv. Appart from that, it compiles

Also no tracker/maintainer, probably have to ping bosch.
- http://ros.org/wiki/mjpeg_server#

[2012-11-03 18:46] stonier opened #26 "Move create python code to create repo"
This includes both the turtlebot_driver and the turtlebot_node python code, both of which should be renamed to create_xxx (or something similar).

[2012-11-03 19:12] corot commented on #25
*****************\* BROKEN PACKAGE - ROSBRIDGE_SUITE *******************

Get it from source

It's also in the turtlebot_groovy.rosinstall since there is no deb yet.

Changes in rosbridge_suite/tf_smart_throttle/CMakeLists.txt
1. Add line
   rosbuild_link_boost(${PROJECT_NAME} thread)

Pull request:
- https://github.com/RobotWebTools/rosbridge_suite/pull/2 - fixed

[2012-11-03 19:22] stonier commented on #4
Moved the model viewer to turtlebot_description in fe5657c8c4813bb93949b8949e92a3bd9724c66f.

[2012-11-03 20:03] stonier commented on #25
*****************\* BROKEN PACKAGES - IMAGE_PIPELINE *******************

Seems that the image pipeline failed to install alot of nodelet plugins (lots of bleeding when running 3dsensor.launch)
- https://github.com/ros-perception/image_pipeline/blob/master/depth_image_proc/nodelet_plugins.xml
- https://github.com/ros-perception/image_pipeline/blob/master/image_proc/nodelet_plugins.xml
- https://gi

[2012-11-03 21:32] stonier commented on #25
Can't show images in rviz - image plugin can't load a required image_transport plugin. Same with image_view. Following workaround fixes it....but I'm not sure if it is the right solution (breaks in a buildspace instead of installspace?)

In groovy/share/image_transport/default_plugins.xml, on the first line, prefix the path with: '../../'. Same in image_view/nodelet_plugins.xml.
- https://github.c

[2012-11-03 21:44] stonier commented on #25
3dsensor.launch - we no longer have the deprecated openni_camera/OpenNINodelet any longer. Trying with openni_camera/driver instead.

[2012-11-03 22:45] stonier commented on #25
Status at Seoul: 8am
- most everything is compiling with the hacks above
- turtlebot_bringup/minimal.launch works for kobuki (create might be fine as well, but haven't tested)
- turtlebot_bringup/3dsensor.launch: we switched to openni_camera/driver nodelet
  - not sure if this is the right thing to do, since it doesn't produce point clouds
  - there is an rgb image, but it's shoddy and black and w

[2012-11-03 22:53] corot commented on #25
CMakeList.txt / manifest.xml to make turtlebot apps compile

turtlebot_actions
1. Remove dependency on opencv2 and add two missing dependencies e440c3fbd18f81cc2bc8200559b927a692fbb2c0  5e305e3fe4034c422184efcf3448cfe59507f451
2. Link against boost libraries  b3914435ce356c7e909da6e60290319311f0f725

turtlebot_follower
1. Link against pcl libraries  2cb4177f6a21daab96801522908ce50b57f64640

pano
1

[2012-11-05 04:22] jihoonl commented on #25
Openni Migration guide from deprecated to stable api.
We may have to follow this..

http://ros.org/wiki/openni_camera_deprecated

[2012-11-11 04:40] stonier commented on #25
Reading that, we probably need to make use of [depth_image_proc](http://ros.org/wiki/depth_image_proc) which provides various nodelets for 2D/3D processing. Maybe just look in openni_launch to see how they use it.

I still thing openni_camera/driver is the way to go - it's minimal. We tack on the required depth processing on top.

[2012-11-12 08:20] mmwise opened #27 "only target Groovy.."
I don't think that we should try to support fuerte with all the changes that have been made.
- rqt is not supported in fuerte... i.e. the dashboard is not backwards compatible and we should not support 2 versions
- this will make many of the launch files much simpler
- etc

End result of the discussion:
- Don't break existing fuerte debs - that's a major api change in the middle of a release which

[2012-11-12 08:27] LucidOne commented on #27
On 11/12/2012 03:20 AM, Melonee Wise wrote:

If possible, I would like to support Fuerte for the initial release and
drop support immediately after.
This would provide a smoother transition for developers who have not yet
switched to Groovy.

[2012-11-12 08:55] mmwise opened #28 "remove dependancy on rosbridge"
we should create a turtlebot_web or move this stuff to turtlebot_apps... turtlebot should have the absolute minimal deps... in fact we want to move pointcloud_to_laserscan someplace eventually..

https://github.com/turtlebot/turtlebot/blob/master/turtlebot_bringup/launch/roboworld.launch

[2012-11-12 09:02] mmwise commented on #27
what is the main reason for trying to support fuerte on turtlebot 2? the current turtlebot stacks work on fuerte... this seems like a lot of extra complexity in the launch files for little gain.

rxtools is not going to be released in groovy and rqt will not be released in fuerte so you have a dead lock on the dashbaord.

[2012-11-12 09:08] mmwise commented on #27
i miss spoke.. dirk informs me that rqt is not support on lucid but is released in fuerte and might not work completely.. and rxtools is deprecated in groovy.

[2012-11-12 09:18] LucidOne commented on #27
On 11/12/2012 04:02 AM, Melonee Wise wrote:

[2012-11-12 12:02] stonier commented on #27
I'm actually all for groovy just to eliminate extra effort.

And also so the daunting prospect can light the fire beneath our bums!

[2012-11-12 12:03] stonier commented on #28
Agreed while the web stuff is an 'optional'.

[2012-11-12 12:06] stonier opened #29 "robot algorithms stack"
Mel brought this up in #28 when talking about moving pointcloud_to_laserscan.

I'd like a generic robot_algorithms (or similar) stack where we can dump simple err 'robot algorithms'. Point cloud to laser scan, random wandering mode, motion patterns, gyro heading calibration/drift estimation etc.

I've got a few that we're making for kobuki (manufacturing programs) that would be perfectly usable by

[2012-11-12 12:08] stonier commented on #27
Also, on rqt - I've been using it in fuerte to build a kobuki rqt test suite. But I agree - I was talking to Ze'ev about the dashboard. Far easier to do that in groovy otherwise we'd need to double up alot of effort to make a dashboard work in fuerte. The robot dashboard rqt infrastructure is not in fuerte.

[2012-11-12 13:20] rgariepy commented on #27
On Mon, Nov 12, 2012 at 4:18 AM, IHeartRobotics notifications@github.comwrote:

+1

[2012-11-12 13:39] stonier commented on #4
Moved them all to turtlebot_viz/turtlebot_rviz_launchers.

[2012-11-12 13:39] #4 closed, assigned to stonier

[2012-11-12 13:54] stonier commented on #27
It is easy for me to wish for support a move directly to groovy, so I should probably remove myself from voting on this. Exactly what is required to support both?
- robot_state_publisher has a funny name change from fuerte - groovy
- openni nodelet now must upgrade from the depracated openNINodelet
- if we move to supporting the new dashboard, then dashboard will be broken in fuerte
- possibly, re

[2012-11-12 19:38] tfoote commented on #27
robot_state_publisher will be at least providing
backwards compatibility for that, if not completely reverting that change.
https://code.ros.org/trac/ros-pkg/ticket/5576

I think that supporting groovy only for the new turtlebot is a good idea
from the maintenance point of view as well.

On Mon, Nov 12, 2012 at 5:54 AM, Daniel Stonier notifications@github.comwrote:

##

Tully Foote
tfoote@willowga

[2012-11-12 21:36] tfoote commented on #29
That definitely seems too broad.  I'd suggest breaking them into groups
related to their application.  And as we're moving foward toward groovy
there's no longer a grouping requirement then can just stand on their own.

On Mon, Nov 12, 2012 at 4:06 AM, Daniel Stonier notifications@github.comwrote:

##

Tully Foote
tfoote@willowgarage.com
(650) 475-2827

[2012-11-12 23:28] jihoonl commented on #27
Can we just say partially support and provide packages that are currently available?
Turtlebot_bringup and turtlebot_description should work in fuerte.

[2012-11-13 12:30] stonier commented on #27
I'll make a concrete proposal here:
- Don't break existing fuerte debs - that's a major api change in the middle of a release which is not best practice.
- Target groovy, work hard at solving 3d sensor and gazebo issues.
- Provide minimal support for a turtlebot2 fuerte rosinstall - bringup, rviz, android apps.

[2012-11-14 02:27] rgariepy commented on #27
After discussing further, it's our team's collective opinion that a
Groovy-only TBT build is acceptable from a support perspective.

-Ryan

On Mon, Nov 12, 2012 at 8:54 AM, Daniel Stonier notifications@github.comwrote:

[2012-11-14 07:07] #24 closed, assigned to stonier

[2012-11-14 07:07] stonier opened #30 "Debian release checklist"
Stacks are listed in some sort of relative order.
- [Build Status Updates](http://www.ros.org/debbuild/groovy.html)

**Done**
- Wet (Catkin)
  - zeroconf_msgs [0.2.1] - [ChangeList](http://ros.org/wiki/zeroconf_msgs/ChangeList)
  - zeroconf_avahi_suite [0.2.2]  - [ChangeList](http://ros.org/wiki/zeroconf_avahi_suite/ChangeList)
  - ecl_tools [0.50.2] - [ChangeList](http://ros.org/wiki/ecl_tools/Ch

[2012-11-14 07:18] stonier opened #31 "zeroconf_comms -> zeroconf_msgs"
Same principle as kobuki_comms->kobuki_msgs change.

[2012-11-16 02:35] stonier commented on #31
Done.

[2012-11-16 02:35] #31 closed, assigned to stonier

[2012-11-16 02:37] stonier commented on #30
zeroconf debs available, kobuki pending.

[2012-11-16 02:39] stonier commented on #27
Update the original post with our target.

[2012-11-16 02:39] #27 closed, assigned to nobody

[2012-11-16 02:43] stonier opened #32 "Stabilising Openni"
Following on from #25 with relevance to groovy.
- Currently using openni_camera/DriverNodelet - this works
- Only sensor data (no point clouds or colour image)
- We probably need [depth_image_proc](http://ros.org/wiki/depth_image_proc)
  - depth_image_proc is broken

[2012-11-16 02:43] stonier commented on #25
Only 3dsensor fixes needed. Continuing in #32

[2012-11-16 02:43] #25 closed, assigned to stonier

[2012-11-16 02:46] jihoonl commented on #32
https://github.com/ros-perception/image_pipeline/issues/2

[2012-11-18 23:36] stonier commented on #30
Bit perplexed why shadow doesn't update with successful jenkins jobs (some are waiting 2-3 days already) - that's making things slow. But we're getting there.

[2012-11-19 00:19] tfoote commented on #30
Are you looking at shadow?  It's only for electric now.  The new repo
updated by the debbuild jobs is "building" at
http://50.28.27.175/repos/building/

And that should sync to shadow-fixed each time a full sweep finishes. (It's
done inside the metapackage jobs for each arch, you can see the last time
it should have run by checking their execution time)

On Sun, Nov 18, 2012 at 3:36 PM, Daniel Sto

[2012-11-19 01:24] stonier commented on #30
I was looking at shadow-fixed and not finding some debs that were tagged as having built 5 days go.

Having said that...suddenly everything updated! Not sure whether 1) I'm losing the plot or 2) I hadn't reloaded when I thought I had or 3) something else. Anyway, I'll keep an eye on things and update if I have the problem again.

[2012-11-19 02:57] jihoonl commented on #32
I confirmed that openni.launch is not stable. So the 3dsensor.launch

I tried to launch, kill, and launch openni.launch several times and the pointcloud stream was not shown sometimes.

The version of openni_launch is

Package: ros-groovy-openni-launch
Version: 1.8.1-s1353126842~precise
Architecture: amd64
Maintainer: Patrick Mihelich
Installed-Size: 79
Depends: ros-groovy-geometry (= 1.9.22-0prec

[2012-11-19 04:51] jihoonl commented on #32
@tfoote awesome! it works! now 3dsensor.launch is working as well.

It still have some work need to be done though.
1. It needs a namespace for kinect.
   Currently kinect topics are shown as below

/rgb/image_color
/rgb/image_color/compressed
/rgb/image_color/compressed/parameter_descriptions
/rgb/image_color/compressed/parameter_updates
/rgb/image_color/compressedDepth
...
/ir/camera_info
/ir/im

[2012-11-19 05:06] bit-pirate commented on #32
Hmmm, that sounds familiar.

One possible cause for this remapping problem:
No node handle is passed to the instances of the class used in the nodelet.
I had this issues with two nodelet implementations recently. When new node handles were created inside the class' constructor, I wasn't able to remap parameters nor topics in the launch file.

Example patch of a nodelet impelementation: https://cod

[2012-11-20 08:07] bit-pirate commented on #6
_bump_
Can we change the REP to define a fixed transform from base_footprint -> camera_rgb_frame instead using the more arbitrary base_link?

Since we usually put base_link on the axis of the main wheels for our (centred) differential drives, I added a base_bottom_link at the bottom surface of the Kobuki. Now, base_bottom_link 0> camera_rgb_frame aligns with REP115.
If we adjust the REP this will

[2012-11-22 04:44] stonier commented on #30
Kobuki deb is finally compiling. Can now move on to the turtlebot debs.

Do new dry releases upload modified tarballs only when there is a version bump?  I'll check next time I try - I think this was the kobuki deb delay problem.

[2012-11-24 09:19] stonier commented on #5
Now we're concentrating on groovy...refer to #32 for a continuation of the issues around 3d sensors.

[2012-11-24 09:19] #5 closed, assigned to stonier

[2012-11-26 05:02] stonier opened #33 "Xtion Pro Broken"
Depth point clouds work, but registered depth point clouds fail.

ERROR: Unsupported encoding [yuv422]

[2012-11-26 05:04] stonier commented on #32
Warnings from openni and transfors as soon as you request the depth images. I don't know that this warning is actually valid though. The tf's dont appear to have a loop and they work in every other way.

[code]

[2012-11-26 06:26] stonier commented on #32
Can ignore the last one, is a result of publish_tf not set to false.

[2012-11-28 00:00] stonier commented on #32
Fighting with this again - openni-launch has dropped out of the shadow-fixed repository. Also I see willow is busy getting openni/sensor debians ready, so we have to just wait for this to work itself out I think.

[2012-11-29 05:28] bit-pirate opened #34 "Move Create/Kobuki params into own each specific package"
Those parameters are Create/Kobuki-specific and are not directly related with Turtlebot. So:

turtlebot / turtlebot_bringup / param / create -> turtlebot_create / param
turtlebot / turtlebot_bringup / param / kobuki -> kobuki/param

[2012-12-01 01:38] bit-pirate commented on #30
Status update:
Can't get turtlebot to build, because it is missing ros-groovy-zeroconf-avahi-suite, which I couldn't get rolled so far. Currently jenkins is stuck right at the start and aborts after a while, because apt-get update can't find destinations like packages.ros.org ...

[2012-12-01 09:30] bit-pirate commented on #34
- base params for kobuki have been moved (create does not have them)
- moving diagnostics still needs to be done (linked to moving create stack)

[2012-12-01 10:07] tfoote commented on #30
Yeah, our DNS server went offline, and the failover is up, but we need to
wait for all the DNS caches to timeout and find the new upstream DNS
servers.

On Fri, Nov 30, 2012 at 5:38 PM, Marcus Liebhardt
notifications@github.comwrote:

##

Tully Foote
tfoote@willowgarage.com
(650) 475-2827

[2012-12-02 05:43] stonier commented on #26
Moved turtlebot_node -> create_node and raised issues in the turtlebot_create stack.

create_node is still a bit ambiguous, since its really a create implementation of turtlebot_node code, but less so than turtlebot_node and it will avoid conflicts. Could potentially be called create_turtlebot_node.

[2012-12-02 05:43] #26 closed, assigned to jihoonl

[2012-12-02 05:49] stonier commented on #34
Decided to keep things centralised as much as possible - easier for devs to see what's going on with turtlebot launch and configuration.

This is really true when we get to apps, often there won't be an equivalent kobuki/create package, so they need to be next to the app launcher.

[2012-12-02 06:07] #28 closed, assigned to nobody

[2012-12-02 06:50] bit-pirate commented on #34
Still fighting for keeping things separate! :-)

[2012-12-02 07:42] stonier opened #35 "Point cloud to laserscan"
It isn't required in 3d sensor. Alot of turtlebot apps make no use of it (only the navigation apps). Subsequently it really should be just launched with the navigation app, otherwise it's overhead.

[2012-12-02 09:16] stonier commented on #29
Leaving everything in turtlebot_apps for now, just reorganising into software/turtlebot software/app manager apps.

Later when we drop in a new app manager (need to talk design at some point, both ourselves and osrf are getting close to the point on really working on this) we can reorganise better.

[2012-12-02 09:35] stonier commented on #1
Just put it into its own turtlebot_netbook package for now 2dc134ccb5a3833435ee8cf4528567fd29fb7d5a.

[2012-12-02 09:35] #1 closed, assigned to nobody

[2012-12-02 09:40] stonier commented on #32
New openni being worked on by willow.

[code]

Unfortunately not usable yet with ros I think. Complains about broken dependencies when trying to install openni_launch on top.

[2012-12-02 10:17] stonier opened #36 "App Lists for the User"
Param pointing to a user's apps.installed so they can easily start creating their own apps alongside the core ones.

[2012-12-02 10:18] #29 closed, assigned to nobody

[2012-12-02 10:45] stonier commented on #35
Retargeted launchers in turtlebot_apps as well.

https://github.com/turtlebot/turtlebot_apps/commit/29a981cb220c2921b27ac3635d65377c2ba85dba

[2012-12-02 10:45] #35 closed, assigned to stonier

[2012-12-02 10:56] stonier commented on #34
Ok, persuaded. Moving management of constant params to their respective packages like openni.launch does (not that it does that well). Can't do so easily with diagnostics, since it's a mix of parameters.

[2012-12-02 10:56] #34 closed, assigned to bit-pirate

[2012-12-02 12:50] stonier commented on #8
I'm going to bring in a patched version into turtlebot. We want to replace this in the near future anyway after redesigning with brian (osrf), here (turtlebot sig) and austin.

[2012-12-02 12:50] #8 closed, assigned to stonier

[2012-12-02 13:06] stonier commented on #8
The ticket was here: https://kforge.ros.org/appmanandroid/trac/ticket/29

[2012-12-02 23:36] bit-pirate commented on #34
Nice! :-)

[2012-12-05 04:31] stonier opened #37 "Turtlebot's app manager and android broken"
Runs fine, but doesn't connect with android.

[2012-12-05 04:32] stonier commented on #37
Msgs in turtlebot_app_manager are no longer compatible.

Just using app_manager msgs and patched turtlebot_app_manager source code till brian gets us the recompiled android apps to work with.

[2012-12-05 04:32] stonier commented on #37
1b986f19cf57cd8848a8b2c2b470958770822cd2

[2012-12-05 23:37] #37 closed, assigned to nobody

[2012-12-09 05:51] bit-pirate commented on #33
I think that's link to the current OpenNi problems.

[2012-12-13 14:28] jihoonl opened #39 "minimal.launch with ROS_HOSTNAME set not working"
If ROS_HOSTNAME is set,  minimal.launch does not work.

I think it is the same issue that Marcus and Daniel found... roscpp issue..

[2012-12-14 01:26] ahendrix commented on #39
This is probably related to https://github.com/ros/ros_comm/issues/35

[2012-12-15 07:34] stonier commented on #39
Fixed, look for ros_comm v1.9.37 to come out.

[2012-12-15 07:34] #39 closed, assigned to nobody

[2012-12-15 07:36] stonier commented on #36
We'll look at this in [rocon_app_platform](http://github.com/robotics-in-concert/rocon_app_platform).

[2012-12-15 07:36] #36 closed, assigned to stonier

[2012-12-15 07:37] stonier commented on #16
Going with the environment variables for now, I'll write up some notes on the wiki.

These work fine - even including adding extensions. The only thing we need is something that can stitch together urdf's on the fly and cache them somewhere given the environment variables currently present.

[2012-12-15 07:37] #16 closed, assigned to stonier

[2012-12-15 07:41] stonier opened #40 "REP Modifications"
- '''base size''' : kobuki is 35cm, rep states 33cm
- '''base_link''' : less ambiguous is base_footprint as a reference

Previous comments from Marcus about the base_link.

[2012-12-15 07:41] stonier commented on #6
REP discussion continuing in #40

[2012-12-15 07:41] #6 closed, assigned to stonier

[2012-12-15 07:46] stonier opened #41 "URDF Stitcher"
Bill has something along these lines. With the current configuration, what I'd like to perhaps have is
- library of component urdf's
- script which will generate full robot urdf from the library

i.e. provided a set of arguments (or environment variables), it will automatically select the appropriate components (tags) from the library and create a xacro for you. This script could be called in mini

[2012-12-15 07:48] stonier opened #42 "Flying Asus"
It doesn't include a mesh for a mount yet, so when you view the robot model (see turtlebot/turtlebot_descriptions/readme.txt), it looks like it's flying.

[2012-12-15 12:10] stonier commented on #30
The wrestling continues - groovy! Some updates
- Started bumping turtlebot_xxx releases to 1.9.0 (seems more proper).
- Added ChangeLists links above so changes can be followed by whoever needs to.
- Stack turtlebot dependencies are fixed, and its prereleasing, release pending.
  - Turtlebot stack concept is bringup, only putting in there the minimal dependencies, others moving to turtlebot_apps.

[2012-12-15 21:19] mmwise commented on #40
Hi Daniel -

The reason we use base_link is because REP 105 calls out base_link as the
definitive base link for mobile platforms, some of the ROS software has
been changed to only use the base link and not base_footprint.

Also are you sure you meant REP115? do you mean REP119?

On Fri, Dec 14, 2012 at 11:41 PM, Daniel Stonier
notifications@github.comwrote:

##

Manager of Robot Development
Willow

[2012-12-18 00:32] tfoote commented on #40
base_link and base_footprint are not interchangeable.  base_link is attached to the body.  base_footprint is flattened onto the ground.  In the TurtleBot we simply set it as a fixed offset, which means that it does not correct for tipping.  In the Kobuki it would be better to take advantage of the gyro and correct for the roll and pitch like is done on the PR2.  (This will help a lot for uneven gr

[2012-12-21 06:39] stonier commented on #40
Ok, I'm fine with keeping to a convention (REP 105).

We may need a rethink if someone puts on a considerably different base in future though (e.g. much bigger wheels and base clearance). It'll either force that base_link into open air to meet the requirement, or significantly shift the kinect view where it matters - i.e. closest field of view intersection with the ground.

May not ever be an issu

[2012-12-21 06:41] stonier opened #44 "Move kobuki base link to bottom base link"
Comply with REP119, 105 for base link expectations (#40).

Applications will be expecting the transform from odom to base link to be relevant to navigation (REP105) AND base link to camera_rgb exactly as spec'd in REP119 for perception. Having base_bottom_link in the middle nullifies that expectation.

[2012-12-21 06:42] #40 closed, assigned to nobody

[2012-12-21 06:55] stonier commented on #30
Bumps for kobuki_msgs 0.1.6 and kobuki 0.1.9 (catkin fixes and autodocking).

Turtlebot stack 1.9.0 now rolling. Updated the [turtlebot](http://ros.org/wiki/turtlebot) wiki page (tutorials not in sync though).

[2012-12-21 14:44] stonier commented on #44
https://github.com/yujinrobot/kobuki/commit/83a7b569643dc5ad4b1aaadc0627b42e1c6fca4e

[2012-12-21 14:44] #44 closed, assigned to nobody

[2012-12-21 15:51] stonier opened #45 "Comply with cmd_vel requirement in minimal"
Hit https://github.com/yujinrobot/yujin_ocs/issues/1 as soon as possible so we can move a default mux into kobuki core.

[2012-12-21 19:59] stonier commented on #30
turtlebot_apps, kobuki_desktop, turtlebot_simulator pending releases. mjpeg_server is something we'll have to wait for bosch to rerelease for groovy.

[2012-12-22 12:33] stonier commented on #30
kobuki_msgs, kobuki now 0.2.x (diverging from fuerte).

[2012-12-22 14:58] stonier opened #46 "Kobuki-Create compatibilities"
Less kobuki-create specifity.
- Msgs/Srvs - either contribute (sensor_msgs?) or utilise shared turtlebot common msgs (e.g. bumper, ir, battery, cliff, digital io)
- Topic synchronisation
- Compatible diagnostics messages.

[2012-12-23 20:18] stonier commented on #30
- rqt just changed, kobuki_desktop and turtlebot_simulator pending an update.
- ecl_lite, ecl_core bumped to 0.50.3 to bugfix quantal and built.
- turtlebot_apps failing on a problem in depthimage_to_laserscan - https://github.com/ros-perception/depthimage_to_laserscan/issues/2

[2012-12-26 14:03] stonier commented on #45
Done, but don't want to put this in - dynamically reconfiguring doesn't help with remappings anyway, which only occur at startup and we need these for multimaster.

In addition, can't drop in a remap from `/mobile_base/commands/velocity` to `/cmd_vel` even if we would like to since the mux and android won't play nicely together (hardcoded android apps).

I'm actually ok with leaving it up to 'apps

[2012-12-26 14:03] #45 closed, assigned to corot

[2012-12-26 18:50] stonier opened #47 "turtlebot_app_manager isn't stopping apps"
Chirp doesn't automatically stop.

Also 'stop application' from android fails.

[2012-12-26 18:55] #47 closed, assigned to stonier

[2012-12-29 20:30] stonier commented on #32
Added depth processing to the 3d launcher and also optional arguments that apps can use to turn off/on the various processing modules (and registration).

The new openni is working smoothly (on kinect at least) so far!

[2012-12-31 08:29] stonier commented on #30
Dependency for mjpeg_server removed (https://github.com/turtlebot/turtlebot_apps/commit/73829323b193ca2f6669ab97a226e2c8d06a9822). Android app for teleop doesn't actually need it in android_teleop.launch. Originally, it was part of a rough web app setup introduced in https://github.com/turtlebot/turtlebot_apps/commit/06007ced68d6353682e8140400c97c217d4617e7, but that mechanism is no longer working

[2013-01-01 23:33] #32 closed, assigned to nobody

[2013-01-01 23:57] jihoonl commented on #33
/camera/rgb/image_raw, /camera/rgb/image_color are failing with the same error in rviz
ERROR: Unsupported encoding [yuv422]

[2013-01-02 01:06] jihoonl commented on #33
I have tried to investigate the issue to run other applications.

I have tried the belows and confirmed they work fine.
- Niviewer
- rosrun image_view image_view image:=/camera/rgb/image_color
- rosrun image_view image_view image:=/camera/rgb/image_raw
- subscribing /camera/depth/points in rviz

But the belows are not working.
- subscribing /camera/depth_registered/points in rviz
  [ERROR] [135708

[2013-01-02 05:09] stonier commented on #33
**Xtion Pro Depth Registration**

[code]

Firing up rviz with the `Depthcloud` plugin:
- Depth Map Topic `/camera/depth_registered/points`
- Color Image Topic `/camera/rgb/image_color`
- Color Transform `RGB8`

The depth cloud works, but coloured pixels show up like an rgb scrambled egg (see encoding problem above).

[2013-01-02 05:09] stonier commented on #33
I'm not sure which issue trackers to hit for this problem - if anyone has any advice, it would be welcome.

[2013-01-02 10:16] corot commented on #30
- kobuki_msgs nothing to do
- kobuki_desktop last release was 0.1.2, not 0.1.0; ChangeLog added
- kobuki released as 0.2.2
- turtlebot_create released as 1.9.2
- turtlebot_viz released as 1.9.2
- turtlebot released as 1.9.2
- turtlebot_apps released as 1.9.1
- turtlebot_simulator released as 1.9.1

[2013-01-02 21:12] chadrockey commented on #33
Looks like the problem is here:
https://github.com/ros-perception/image_pipeline/blob/master/image_proc/src/nodelets/debayer.cpp#L132

image_encodings.h returns true for YUV422 being "color".
https://github.com/ros/common_msgs/blob/master/sensor_msgs/include/sensor_msgs/image_encodings.h#L107

I suspect this can be fixed by reordering the if/else statements.  I've been in contact with @vrabaud and

[2013-01-03 15:31] vrabaud commented on #33
I fixed the original bug and the "subscribing /camera/rgb/image_mono in rviz" from https://github.com/turtlebot/turtlebot/issues/33#issuecomment-11798355  in image_pipeline 1.10.0. Please download from shadow-fixed.
I could not reproduce the "Xtion Pro Depth Registration" from https://github.com/turtlebot/turtlebot/issues/33#issuecomment-11800374 . If that still happens with the latest version, pl

[2013-01-04 06:16] jihoonl commented on #33
I would like to keep this open until all asus problem issues are solved as a check list.

[2013-01-04 07:33] jihoonl commented on #33
I have tried shadow-fixed version openni launch with ASUS X201E and got error below.

terminate called after throwing an instance of 'openni_wrapper::OpenNIException'
  what():  unsigned int openni_wrapper::OpenNIDriver::updateDeviceList() @ /tmp/buildd/ros-groovy-openni-camera-1.8.6/debian/ros-groovy-openni-camera/opt/ros/groovy/stacks/openni_camera/src/openni_driver.cpp @ 125 : enumerating image

[2013-01-04 07:48] jihoonl commented on #33
While testing ASUS X201e with Kinect, I got this error too.

terminate called after throwing an instance of 'cv_bridge::Exception'
  what():  Unsupported conversion from [bayer_grbg8] to [mono8]
[camera_nodelet_manager-2] process has died [pid 17809, exit code -6, cmd /opt/ros/groovy/lib/nodelet/nodelet manager __name:=camera_nodelet_manager __log:=/home/yujin/.ros/log/df75ffe2-5642-11e2-ac29-2068

[2013-01-04 08:48] vrabaud commented on #33
Please specify the version you are using. it seems you are using 1.10.0 of image_pipeline, I actually pushed 1.10.1 that fixes your last issue. Please confirm that https://github.com/turtlebot/turtlebot/issues/33#issuecomment-11874813 is fixed .
Concerning https://github.com/turtlebot/turtlebot/issues/33#issuecomment-11874581 it is a pure driver error. I get those when connecting to a USB3 port wh

[2013-01-04 08:59] jihoonl commented on #33
@vrabaud

Yea I confirmed that "image_mono" works with 1.10.0. Thanks!

I am not sure if "Failed to set USB interface!" error is caused by USB 3.0 port though. I have tried Kinect and Asus both and found that Kinect was working properly.

I will test 1.10.1 version with both Kinect and Asus next Monday and let you know the status.

[2013-01-04 09:11] vrabaud commented on #33
BTW, my bad, you Bayer to Mono conversion got fixed in vision_opencv 1.10.0 (that has nothing to do with image_pipeline). image_pipeline 1.10.1 was just a patch on a regression I brough in 1.10.0 to fix the original issue :)

The error that's typical with USB3 is:

process[camera_base_link3-22]: started with pid [8129]
[ERROR] [1357290558.923855107]: Tried to advertise a service that is already ad

[2013-01-04 09:18] jihoonl commented on #33
@vrabaud

ahhhh... I was so stupid. I just realized I was testing with two USB3.0 ports...  :(. My bad.
Yeah I did "roslaunch openni_launch openni.launch"

BTW,

I have tried

rosrun image_view image_view image:=/camera/rgb/image_color
rosrun image_view image_view image:=/camera/rgb/image_mono
rosrun image_view image_view image:=/camera/rgb/image_raw

and found that only image_color is not being s

[2013-01-04 09:20] vrabaud commented on #33
Yop, it will :) My regression was basically that YUV422 was published on mono at the same time as mono ... how clever. Hence some flickering on mono and no color on color

[2013-01-04 09:25] jihoonl commented on #33
ahh haha it happens.  :)

I will test stuffs on Monday with the newest version of code and post the results. Thanks Vincent!

[2013-01-05 00:39] chadrockey commented on #33
It all looks good here.  We had another small issue with catkinized openni_camera and openni_launch leaking into the release, but that has been fixed.
https://github.com/ros-drivers/openni_camera/commit/db77f637d2b45dd0678867cfe7940ac920113fd3

From shadow-fixed right now, I see colorized pointclouds from both the Kinect and the Xtion.  :)

[2013-01-07 01:21] jihoonl commented on #33
@vrabaud  I have tested ASUS depth_registraion, image_color, image_rect_color and etcs

it works!! Yay XD Thanks!

[2013-01-07 01:21] #33 closed, assigned to stonier

[2013-01-08 07:11] corot commented on #30
- yujin_ocs 0.1.3 released

[2013-01-11 11:39] yhju opened #49 "rosdep broken"
In groovy on precise

[code]

[2013-01-12 15:18] stonier commented on #49
I've removed the turtlebot_web and turtlebot_arm from the rosinstall file since we're not actively developing them right now. That avoids the confusion when things are seeming to break like above.

When there's a simple message 'resource not found' it just means your missing one of the ros-groovy-xxx debs. Rosdep now parses for both system packages AND ros packages.

[2013-01-12 15:18] #49 closed, assigned to nobody

[2013-01-16 08:41] corot commented on #30
- kobuki released as 0.2.3
- turtlebot released as 1.9.4

all others have no significatif changes

[2013-01-21 04:02] corot commented on #30
- kobuki released as 0.2.4
- turtlebot_apps released as 1.9.2

[2013-01-21 07:53] corot opened #51 "Compatible safety controller"
We need to make a safety controller that is compatible for both turtlebot_kobuki and turtlebot_create.
- move kobuki_safety_controller here (turtlebot_safety_controller)
- create standardised bumper and cliff messages
- Add publishers for bump and cliff events to be compatible with kobuki (turtlebot)
- make the safety_controller nodelet use these

[2013-01-21 08:09] chadrockey commented on #51
You may be able to use the updated sensor mags Range for the cliff sensors.  It now supports fixed distance rangers like the infrared range finders.

https://github.com/ros/common_msgs/blob/groovy-devel/sensor_msgs/msg/Range.msg

[2013-01-23 02:17] bit-pirate commented on #30
A quick comment about catkinising:
As it has been discussed in the TurtleBot meeting at Willow last week, catkinisation of all Turtlebot-related packages is targeted for Hydro.

[2013-01-28 03:57] corot commented on #51
Thanks for the suggestion. Semantically is not very satisfactory to call bumps/cliffs ranger events, but by now is the most appropriate message on sensor_msgs

[2013-01-28 04:03] corot opened #52 "ROS wiki checklist"
Kobuki/Turtlebot wiki pages that are missing or must be updated. Fill free to include any issues you find in the "todo" list.

Make sure these have fuerte/groovy versioning tags where appropriate.
- <del>[Kobuki Params](https://github.com/yujinrobot/kobuki/issues/221)</del>
- <del>[wiki/Robots/Turtlebot](http://ros.org/wiki/Robots/TurtleBot)</del>
- <del>[wiki/turtlebot/Tutorials](http://www.ros.o

[2013-01-29 01:34] chadrockey commented on #51
Cliffs are actually IR rangers with a fixed distance right?  In that case, min_range ==max_range==detection distance of cliff sensors (probably around 0.05m).  Then if there is an object closer than the range, it's -Inf; and +Inf if there is a cliff.

To detect is to just check if(msg.range > 0){ // Stop there's no ground ahead}

As for the bump sensor, I agree that it's not an ideal semantic.  Ho

[2013-01-30 01:00] mechatronicsguy opened #53 "Turtlebot_teleop points to wrong topic for turtlebot2"
Hard coded 'cmd_vel' here:
https://github.com/turtlebot/turtlebot_apps/blob/master/turtlebot_teleop/src/turtlebot_key.cpp

instead of the new '/cmd_vel_mux/input/teleop'.
Took me ages to figure out why my turtlebot2 wasn't spinning :-)

I know this can be fixed by putting it in a launch file and remapping, but teleop is something that users are likely to start and stop at runtime, so still being a

[2013-01-31 07:16] corot commented on #30
- turtlebot_viz released as 1..9.3

[2013-02-04 02:30] corot commented on #30
- turtlebot_create_desktop first release as 1.9.0 (to keep turtlebot_whatever version system)

[2013-02-05 02:22] corot commented on #30
- kobuki_desktop released as 0.1.3 (with changes required by turtlebot_create_desktop)

[2013-02-06 09:38] stonier commented on #53
Actually, I prefer having it work in roslaunchers. There will always be nodes that do remapping, so the rosrun rule for anything but the simplest tests will break down at some point so roslaunch is a good habit.

On top of that....if we wanted it to point to `/cmd_vel_mux/input/teleop`, we'd have to hard code an absolute path into the system which kind of breaks best practice - that is putting top

[2013-02-06 09:40] stonier opened #54 "Break out linux_hardware"
Causing us issues for dashboards. Currently kobuki_desktop and turtlebot_create_desktop depend on turtlebot.

Turtlebot should be on top!

Still, we need a better way of loading up the dashboards for different hardware. Consider on the way to hydro.

[2013-02-06 09:46] mikeferguson commented on #54
This should probably become it's own standalone package/repo over in ros-drivers -- it's pretty generic.

We might want to consider calling it something like "laptop_tools" or "laptop_utils" as it really is based on laptop hardware, not so much on linux.

[2013-02-06 09:49] mechatronicsguy commented on #53
Oh, sorry, I meant users could make their own launch file & remap, but having a readymade one was more useful. I don't have a preference for rosrun over roslaunch or anything. Just that the teleop stuff only worked out of the box with a turtlebot1, not a turtlebot2.

[2013-02-06 11:53] stonier commented on #53
Ah, I see where the confusion stems from now. The c++ teleop was depracated a long time ago, but never removed (pre turtlebot2 in fact). They use the python teleop now. I should probably remove that c++ source, it's not even getting built.

Does `roslaunch turtlebot_teleop keyboard_teleop.launch` work for you? That's the officially supported keyboard teleop that should work out of the box.

[2013-02-06 12:11] stonier commented on #54
Sounds like the right place. Auto-detecting cross platform support could very easily be built into the one program I think (if it ever needs it).

I'll break it out later after 2.0 release.

For now, I just wondered why dashboard is using topics for the laptop battery. It uses the diagnostics for everything else. So if we go back to diagnostics for the laptop battery, this temporary ugly stack dep

[2013-02-06 23:32] jihoonl commented on #54
The reason we named it as linux_hardware was to support of sbc board like embedded systems later. That is why we made the name very generic.

[2013-02-07 07:36] stonier commented on #54
Put in diagnostics parsing instead of using the subscriber directly (ironically, like it does for everything else). I think its wierd that you convert from binary to strings in diagnostics and then back to binary form here though. Only upside is that diagnostics is a slow frequency burner compared to most binary msg topics. Anyway, it removes the ugly turtlebot dependency for now.

https://github.

[2013-02-07 07:37] stonier commented on #54
Leaving this as todo though to break it out like mike suggested when catkinizing.

[2013-02-07 12:38] jihoonl commented on #52
We should state Kinect only works with USB 2.0 somewhere!!

[2013-02-08 01:58] stonier commented on #30
Xacro stack - it's blocking catkinization of any of turtlebot.

Is this likely to be catkinized soon, or ever?

[2013-02-08 06:30] mikeferguson commented on #30
xacro is needed by PR2, and I know they intend to catkinize all PR2 stuff by Hydro.

[2013-02-08 07:31] stonier commented on #30
If you catch a sniff of it before we do, let us know here. It'd be nice to switch all the development over to catkin as soon as possible. This half-catkin, half-not is a bit tedious.

[2013-02-08 07:32] stonier commented on #30
kobuki_description 0.3.0 added for dry releasing.

Can't avoid that split - we need a kobuki catkin for windows driver builds.

[2013-02-08 07:40] mikeferguson commented on #30
Will do -- I notice xacro is currently listed as maintained by Stu, which means it is on the list of things currently being reallocated to new maintainers, I'll see if I can find out what the timeline on that reallocation is.

[2013-02-08 07:43] chadrockey commented on #30
Last I heard, the plan is for core and pr2 packages to be catkin for
hydro.  There is a good chance that after I turtle, all released debian
packages must be catkin.

Xacro is now maintained by William:
https://github.com/ros/xacro/tree/catkinize

[2013-02-08 08:06] stonier commented on #30
Great, thanks guys.

[2013-02-08 09:14] stonier commented on #30
New kobuki_msgs, kobuki, yujin_ocs catkin stacks are away!

Turtlebot 2.0 rollovers coming...

[2013-02-09 14:50] stonier commented on #52
Added to the 3d visualisation tutorial.

[2013-02-09 14:51] stonier commented on #52
Fleshed out complete instructions for the split catkin, non-catkin source installs.

[2013-02-11 22:54] mechatronicsguy commented on #53
That works, thanks Daniel!

[2013-02-12 08:17] jihoonl opened #55 "3dsensor.launch depth_registered/points does not have rgb field"
not sure it is supposed to be.

[2013-02-12 22:50] tfoote opened #56 "turtlebot is not building on groovy"
http://jenkins.willowgarage.com:8080/view/GbinO64/job/ros-groovy-turtlebot_binarydeb_oneiric_amd64/

This error usually is a missing stack level dependency.

[code]

[2013-02-12 22:55] tfoote commented on #56
@dirk-thomas fyi filed here

[2013-02-13 01:24] jihoonl commented on #55
Fixed.  e214479f3128ae32fce69f4aa9d693251fd3b349

[2013-02-13 01:30] stonier commented on #56
I'm on it.

Catkinizing kobuki was the last step before a 2.0 release. That rewiring is causing some issues down the line.

fyi: kobuki_description should be there now, it was just awaiting a first build on jenkins.

There is another issue to fix now though - dependencies moving from stacks to packages muck things up.

[2013-02-13 02:42] stonier commented on #55
Jihoon, 3d sensor by design, is such that you can turn off processing if you need to.

After that fix, it will always be publishing point clouds. It's not necessary for some applications, like navigation.

Also, it was publishing registered depth clouds, just not in point cloud format. We should perhaps make that an option in arg form.

[2013-02-13 02:56] jihoonl commented on #55
I thought we decided to provide full data by the default but provide a way to disable the things for advanced users.

Previously, it already has depth_registered/points but just xyz. which is not proper. Just as openni_launch does, we should provide xyzrgb data with depth_registration:=true, and only xyz with depth_registration:=false.

I have checked Depth Cloud but it is just sensor_msgs/Image s

[2013-02-13 02:57] jihoonl commented on #55
also for object recognition purpose, it is worth to have.

[2013-02-13 03:54] jihoonl commented on #55
Maybe I am mis-understanding the concept of depth cloud. Shall we wait for someone-else's input?

[2013-02-13 03:57] LucidOne commented on #55
On 02/12/2013 09:56 PM, Jihoon Lee wrote:

[2013-02-13 08:45] corot commented on #55
We need to decide between a minimalist (as stated the header) and a full-data (current version) 3dsensor.launch.

I vote for the full-data version, as people will probably use 3dsensor.launch to play, visualize and test, while applications can disable all but the stuff they need. I imagine that a user launching 3dsensor will expect to see fancy RGB pointclouds

I think Jihoon's change makes sense:

[2013-02-13 08:47] corot commented on #55
Question: what means for a depth cloud to be "registered"? To my knowledge, depth clouds are just depth images, aren't it?

[2013-02-13 15:28] stonier commented on #55
In singapore and having a better look at the file in full context (shouldn't have hurried a view of only the commit this morning). You're spot on Jihoon, sorry for the confusion - closing.

Jorge, the registration puts the raw data from rgb and depth on the same frame of reference. Otherwise a raw data value of x_, y_, z\* in the depth frame doesn't associate with x_, y_, z\* in the rgb frame (off

[2013-02-13 15:28] #55 closed, assigned to nobody

[2013-02-14 11:37] #53 closed, assigned to stonier

[2013-02-16 01:27] stonier commented on #30
- Catkin stack issues finally resolved/worked around.
- Turtlebot create 2.0 released.
- Final kobuki description and desktop (-gazebo) stacks released.

[2013-02-16 14:30] #21 closed, assigned to stonier

[2013-02-16 14:32] stonier commented on #56
2.0.0 precise stacks are building...quantal I got caught out with an old rosrelease again, but on their way now.

[2013-02-16 14:32] #56 closed, assigned to stonier

[2013-02-17 23:39] stonier commented on #30
- turtlebot, turtlebot_apps, turtlebot_viz 2.0.0 releases

[2013-02-22 10:50] stonier commented on #30
- kobuki 0.3.5 udev rule bugfix release.

[2013-02-26 06:46] mmwise opened #57 "when launching the regular 3dsensor.launch with registration on the laserscan is all nans"
I noticed this while trying to get a friends turtlebot working. When I launch the follower.launch everything works and when launching 3dsensor.launch all nans. So i went in and changed the parameters to the launch file to be the same as the follower.launch and now the scan is normal and working .. Something seems to be up with the depth_registered being turned on and getting a point cloud out.

[2013-02-26 07:13] corot commented on #57
I cannot reproduce the problem. Both standalone 3dsensor.launch and follower.launch work fine for me.
depth_registered is set as true by default, but is should be irrelevant for depth_image_to_laserscan.
Are you using debian packages or sources?

[2013-02-26 15:22] abencz commented on #57
I ran into this too a few days ago. There's a post on ROS answers as well:
http://answers.ros.org/question/53706/registered-depth-image-is-black/#53832

Compiling OpenNi from source as suggested in that thread fixed it.

[2013-02-26 15:34] LucidOne commented on #57
On 02/26/2013 01:46 AM, Melonee Wise wrote:

Is this related to this issue?
https://github.com/turtlebot/turtlebot/issues/55

[2013-02-26 15:36] abencz commented on #57
I don't think so.

The issue is not that there is no depth_registered data being produced but that the data is all zeros or NaNs.

[2013-02-27 07:17] stonier commented on #57
Going to need some more information here I think because it works for me too. Versions etc.

I've installed:
- libopenni-dev, openni-utils 1.5.4.0-3
- libopenni-sensor-primesense-dev 5.1.0.41-2
- libopenni-nite-dev 1.3.1.5
- ros debs from ros-shadow-fixed 26th Feb.
- Kobuki and Turtlebot [sources](http://ros.org/wiki/turtlebot/Tutorials/groovy/Source%20Installation) (these should match the current

[2013-02-27 08:02] mmwise commented on #57
I updated the laptop to the latest in debs for turtlebot thru apt-get on
feb 25. I could not get any pointcloud to display or laserscan in rviz when
i did a rostopic echo on /scan all i got was Nan.

libopenni-dev/precise uptodate 1.5.4.0-3+precise1
libopenni-sensor-primesense-dev/precise uptodate 5.1.0.41-2+precise1
libopenni-sensor-primesense0/precise uptodate 5.1.0.41-2+precise1
libopenni0/prec

[2013-03-05 02:27] bit-pirate opened #58 "Find a solution for confusing odom/odom_combined tf naming issue"
robot_pose_ekf is by default publishing the result of the fusion of odometry and gyro data as odom_combined. However, currently we call this frame just odom.

There might be reasons for using odom - probably historical ones.
Let's discuss this and make a documented decision.

[2013-03-05 02:29] rgariepy commented on #58
Technically, robot_pose_ekf is the one that's wrong:
http://ros.org/reps/rep-0105

On Mon, Mar 4, 2013 at 9:27 PM, Marcus Liebhardt
notifications@github.comwrote:

[2013-03-05 02:39] bit-pirate commented on #58
Quick reply! :-)
Daniel and I don't like the convention chosen in the REP (Jorge however is in favour of that).
Do you know, if this topic has been discussed thoroughly? If yes, is this discussion documented somewhere?
We would like to know, why it has been decided like this. For example, naming it odom_combined give the user a hint that this is not just normal (wheel) odometry data.

[2013-03-05 02:44] rgariepy commented on #58
Looks like it's capturing what were internal WG defacto standards:
https://code.ros.org/gf/project/ros/mailman/?_forum_action=ForumMessageBrowse&thread_id=42397&action=ListThreads&mailman_id=8

There will always be more sensors which one can add and are still
considered "odometry" (ex. scan matching for visual odometry) - I like
"odom" as "what you can get just based on the base platform alone".

[2013-03-05 23:24] pirobot opened #59 "Change arg value keyword from "value" to "default" in launch files"
I could be mistaken but I think several launch files (e.g.minimal.launch) should be using the "default" keyword instead of the "value" keyword when defining arguments.  Otherwise, it appears that the argument values cannot be overridden on the command line.

[2013-03-05 23:35] chadrockey commented on #58
Yes, robot_pose_ekf is the one to blame here.  Putting aside the various issues that robot_pose_ekf has, this issue is pretty easy to resolve, and I think REP 105 is the right answer.

This is ultimately a question of what the frame_id should be.  This frame_id should NOT be 'odom_combined' just the same as every robot should have a 'base_link' and not 'my_bottom_link' or 'base_link_main_board'.

[2013-03-05 23:54] bit-pirate commented on #58
Thanks Chad! What you explain makes sense to me. I'm fine with following this standard.

[2013-03-06 00:26] bit-pirate commented on #59
The idea behind the current setup is that we have started using environment variables.
However, maybe we can find a way to enable setting parameters via command line. I usually don't make use of that (I guess most of colleague neither), so that might be the reason we never got aware of that problem.

Please let us know, if you have a solution.

[2013-03-06 02:36] corot commented on #57
Any progress on this? ros-groovy-depthimage-to-laserscan was updated yesterday, I think.

Can you retry after upgrading your system?  We are puzzled with this issue.... sorry.

[2013-03-06 03:10] stonier commented on #57
I wanted to go back and test those older versions of debs here, but Tully pushed shadow fixed to public, so not really convenient right now.

Another thing that might be relevant - it might be due to the laptop itself?

Anyway, can't reproduce here. Let us know if it is a continuing problem, otherwise we'll close this issue shortly.

[2013-03-06 03:27] bit-pirate opened #60 "REP specifies inaccurate camera_rgb_frame"
This issue has been around for a while now and I really would like to find a solution this time!

A while ago Younghoon found out, that there is a significant offset between the real camera_rgb_frame position and what we specify in the REP. This only concerns the position on the y-axis.

This issue has been discussed on the [mailing list](https://groups.google.com/forum/?fromgroups=#!topic/ros-sig

[2013-03-06 03:46] mmwise commented on #60
I am confused does the rep correctly represent TurtleBot 1? If it does we should not change the rep. The rep is meant to define what a compatible TurtleBot platform is with reference to TurtleBot 1.. We should not be changing the rep to reflect new hardware, the new hardware is supposed to follow the guidelines of the rep.
- Melonee

On Tue, Mar 5, 2013 at 7:27 PM, Marcus Liebhardt notifications@g

[2013-03-06 04:10] chadrockey commented on #57
As far as I know, depthimage_to_laserscan hasn't changed recently.

I did some googling and people found issues with kinects and depth registered that can cause it to output entirely black images.  I turn these into NaNs since they are invalid data.

Looks like upgrading packages is the fix.

http://answers.ros.org/question/53706/registered-depth-image-is-black/

http://answers.ros.org/question/55

[2013-03-06 06:20] bit-pirate commented on #60
What we are saying is that the REP is wrong in the way that Turtlebot 1 does not respect the REP.

The first picture shows, that the Kinect is centred with Kinect's centre being the middle between the RGB and depth lense/frame. In the second picture you can see that those frames are positioned wrong due to the error in the REP (both the RGB and depth frame are shifted to the right).

[2013-03-06 10:04] stonier commented on #60
I had actually followed Younghoon's measurements four months ago given the lack of a logical reason why the above pictorial representation was wrong. I did forget to follow up on the REP though. And then you reverted back to the REP value in 8d9c04b276e73bf3b5ddb31a0de1753a161303f7 here Marcus - not sure why!

Anyway, I really think we should follow the logic here. I believe the REP is flat out wr

[2013-03-06 10:07] mmwise commented on #60
the coordinates came from our best measurements of the optical frames with
the kinect in the mounted position, if they are incorrect we should update
them, how are you guys determining the location of the optical frame do you
have an accurate CAD model with the optical frame locations?

On Wed, Mar 6, 2013 at 2:04 AM, Daniel Stonier notifications@github.comwrote:

[2013-03-06 10:08] mmwise commented on #57
we can close the ticket for now, I'll update to the current release and
test it in the next couple days

On Tue, Mar 5, 2013 at 8:10 PM, Chad Rockey notifications@github.comwrote:

[2013-03-06 14:10] #57 closed, assigned to nobody

[2013-03-06 14:13] stonier commented on #59
This should be fine, I can't remember having a particular reason for using value.

@corot can you quick test and confirm tomorrow?

[2013-03-06 14:15] stonier commented on #58
Ditto, closing. Thanks for the feedback guys.

[2013-03-06 14:15] #58 closed, assigned to nobody

[2013-03-06 23:54] stonier commented on #60
Some more details. We have the CAD model from the original turtlebot description (kinect.dae) which also supports the assumptions and facts we're working from:
- Kinect rgb and depth frames lie on the axis passing through the centre of the circular discs.
- The frames are symetrically offset from the central axis of the kinect.
- The central axis of the kinect is mounted on plate 0 aligned with th

[2013-03-06 23:57] stonier commented on #60
I don't think there is an officially accurate CAD model. At any rate, the errors we are talking about here are almost 1cm which are orders of magnitude higher than any errors you'd expect going from an estimated CAD model to an official one.

[2013-03-07 00:02] bit-pirate commented on #60
My small additions:
I just have checked the distance between both lenses again and it's 25 mm (24.5 mm to be more precise). Hence, the offsets for the RGB and depth frame would each be 12.5 mm.

So, I will move forward and apply these measurements to the URDFs and if won't hear any objections I will take the freedom to change the REP the next days.

Sorry in advance, if I come across harsh, but I

[2013-03-07 00:27] mmwise commented on #60
that's fine with me I just wanted to make sure that I understood the
changes you wanted to make.

On Wed, Mar 6, 2013 at 4:02 PM, Marcus Liebhardt
notifications@github.comwrote:

[2013-03-13 10:17] corot commented on #30
- turtlebot_apps 2.0.1 releases

[2013-03-19 08:13] jihoonl opened #62 "wheel tf jumping in rviz"
http://answers.ros.org/question/58512/turtlebot-wheel-tf-jumping/

[2013-03-28 08:40] corot commented on #30
Releases related with robot visualization:
- kobuki_description 0.3.2 released
- turtlebot 2.0.1 released
- turtlebot_viz 2.0.1 released
- turtlebot_create 2.0.1 released

[2013-03-29 01:55] jihoonl opened #63 "Applying groovy changes in hydro"
- kobuki
  https://github.com/yujinrobot/kobuki/commit/1336cec644270cbf25c273ed1fa2762e8440b7d5
- kobuki_description (unary package)
  https://github.com/yujinrobot/kobuki_description/commit/a0daf7b9c73efc35edeeed97ccbf4fc99bc92fe0
  https://github.com/yujinrobot/kobuki_description/commit/f2c2b50b8477adfe8b93839d0e59da9243f8762f
  https://github.com/yujinrobot/kobuki_description/commit/9585afc4db1

[2013-03-29 01:56] jihoonl commented on #63
- [DONE] kobuki yujinrobot/kobuki@1336cec
- [DONE] kobuki_description (unary package) yujinrobot/kobuki_description@a0daf7b yujinrobot/kobuki_description@f2c2b50 yujinrobot/kobuki_description@9585afc - unary pacakge will go away in hydro

[2013-03-29 02:40] jihoonl commented on #63
- [DONE] ae4f5a5

[2013-03-29 02:55] jihoonl commented on #63
- [DONE] https://github.com/turtlebot/turtlebot/commit/3a04822432027b1922198f195bd9066f43860c33

[2013-03-29 04:43] jihoonl commented on #63
-  turtlebot/turtlebot_create@e66633b - turtlebot_create repo is not catkinized. We can apply it when we catkinize it.

[2013-03-29 04:43] jihoonl commented on #63
- turtlebot_viz: turtlebot/turtlebot_viz@6824685 ditto
- turtlebot_simulator: turtlebot/turtlebot_simulator@d4b8791 ditto

[2013-03-29 04:44] jihoonl opened #64 "hydro-devel turtlebot_bringup requires rocon_hub."
If rocon_hub is not running, it crashes.

@stonier

[2013-03-29 04:46] jihoonl commented on #63
![turtlebot](https://f.cloud.github.com/assets/1556736/316604/a3106922-982b-11e2-9700-2176cf2ef2f1.png)

[2013-03-29 04:46] #63 closed, assigned to nobody

[2013-03-29 08:58] bit-pirate opened #65 "turtlebot 1 visualisation broken"
;-(

[2013-03-29 09:02] jihoonl commented on #65
unit aware issue?

[2013-03-29 09:03] jihoonl commented on #65
@bit-pirate  https://github.com/ros-visualization/rviz/issues/622

[2013-03-29 09:39] bit-pirate commented on #65
https://github.com/turtlebot/turtlebot/pull/66
https://github.com/turtlebot/turtlebot_create/pull/7

[2013-04-01 23:58] bit-pirate commented on #65
turtlebot_create version 2.0.1 fixes this issue. It's now available on shadow-fixed.

[2013-04-01 23:58] #65 closed, assigned to bit-pirate

[2013-04-16 01:02] stonier commented on #30
- yujin_ocs 0.2.3 released : catkin metapackage updates.

[2013-04-16 02:59] stonier commented on #60
Closing, reopen if there's a problem with that pull request.

[2013-04-16 02:59] #60 closed, assigned to bit-pirate

[2013-04-16 07:54] stonier commented on #30
- kobuki 0.3.7 : minor bugfixes to the driver.

[2013-04-23 00:53] stonier commented on #52
Everything done except for simulation (hydro) and iso instructions (bill)

[2013-04-23 00:53] #52 closed, assigned to nobody

[2013-04-23 00:54] stonier commented on #30
- kobuki_desktop 0.1.6 : bugfix for kobuki_qtest_suite

[2013-04-26 07:44] stonier commented on #30
- turtlebot_apps 2.0.2 : boot munching following squashed, create calibration working again.

[2013-05-07 09:04] corot commented on #30
- kobuki 0.3.8 : shaky motions with navi stack  bugfix on the driver. Fix also issue #257.

[2013-05-20 02:36] corot opened #67 "On hydro, xacro.py script is not under script directory anymore"

[2013-05-20 02:42] #67 closed, assigned to corot

[2013-05-23 02:14] corot commented on #51
I completely forgot this issue, sorry a lot, if someone is still following it.
We have opened a discussion about the safety controller behavior (https://github.com/yujinrobot/kobuki/issues/261), so I will link this issue to the final decision.

[2013-06-04 03:32] corot commented on #30
- kobuki 0.3.9: Fix (again) issue #257. Now in auto-docking package. Softbot released

[2013-06-14 01:44] corot commented on #30
- kobuki 0.3.9-1: Fix on softbot dependencies

[2013-06-18 01:46] corot commented on #30
- kobuki 0.3.9-1: Fix on softbot dependencies
- kobuki 0.3.9-2: Softbot dropped by now, as it's getting a pain in there

[2013-06-24 05:21] bit-pirate opened #71 "Getting ready for Hydro"
Catkinizisation TODO:
- <del>turtlebot_android</del>
- <del>turtlebot_apps</del>
- turtlebot_arm (turtlebot/turtlebot_arm#9)
- <del>turtlebot_create_desktop</del>
- <del>turtlebot_viz</del>
- <del>turtlebot_web</del> not needed, it's a graveyard/sandbox

Releases TODO:
- <del>turtlebot</del>
- <del>turtlebot_android?</del> No, just android code
- <del>turtlebot_apps</del>
- turtlebot_arm (https://

[2013-07-02 23:40] corot commented on #30
Starting Hydro releases!
- yujin_ocs 0.3.0

[2013-07-03 00:44] corot commented on #30
With Hydro we'll keep track of release only here: https://github.com/yujinrobot-release/yujin_release/wiki/_preview

[2013-07-03 00:44] #30 closed, assigned to corot

[2013-07-08 05:26] bit-pirate commented on #71
turtlebot_create_desktop catkinized.

[2013-07-18 04:05] corot opened #73 "Migrate changelog from ros wiki to this repo"

[2013-07-18 04:08] corot commented on #54
We are releasing turtlebot hydro with linux_hardware package included....

just a reminder

[2013-07-18 07:07] corot commented on #73
I keep all pre-hydro on ros wiki, because it's very long, and well hierarchically organized.

[2013-07-18 07:07] #73 closed, assigned to nobody

[2013-07-21 23:30] bit-pirate opened #76 "remove graveyard folders from turtlebot_description"
I think we can get rid of them now.

[2013-07-22 01:49] #76 closed, assigned to bit-pirate

[2013-07-26 04:38] bit-pirate commented on #42
We will need to agree on a mount first, then we can add the mount's mesh to the URDF descriptions.

[2013-07-26 04:45] bit-pirate opened #80 "remapping not working with 3dsensor/openni.launch"
Because both the original openni.launch and our modified version, called 3dsensor.launch, are using an absolute name(space) for the nodelet manager, we can't currently launch the openni nodelets in other namespaces.

Having this would be This feature would be a nice-to-have right now for launch apps with the app_mananger, but absolutely necessary, when launching multiple apps in the future.

[2013-07-26 04:46] bit-pirate commented on #80
I have changed the openni launcher to allow remapping. I hope they get these changes into Hydro.
For more details follow: https://github.com/ros-drivers/openni_launch/pull/3

[2013-07-26 06:55] jihoonl opened #81 "migrate turtlebot rapp list file from bringup to coreapp pkg."
Since turtlebot_bringup does not depend on core apps, keeping rapp list file in the core app makes more sense. otherwise, it causes error.

[2013-08-04 23:17] bit-pirate opened #84 "Rename roslauncher includes to .launch.xml"
This will hide the launch files only intended to be included from the tab completion, while still preserving the semantic, i.e. this xml is a launch file.

For more details, see: https://github.com/ros/ros_comm/issues/254
- [x] turtlebot
- [x] turtlebot_apps
- [x] turtlebot_viz
- [x] turtlebot_create
- [x] turtlebot_create_desktop
- [x] turtlebot_simulator
- [x] kobuki
- [x] kobuki_desktop
- [x] y

[2013-08-04 23:54] bit-pirate opened #85 "turtlebot_bringup: rocon dependencies missing"
Using `rocon_launch turtlebot_bringup concert.launch` requires a couple of ROCON dependencies, which are not pulled during install. The dependencies are:
- rocon_hub
- rocon_gateway

[2013-08-06 06:49] bit-pirate commented on #71
The pieces are coming together. Beside fixing small issues here and there, the biggest work left is to get the turtlebot apps working with the android apps (https://github.com/turtlebot/turtlebot_apps/issues/47) and the simulator finally up to speed (https://github.com/turtlebot/turtlebot_simulator/issues/9).

[2013-08-07 05:15] stonier commented on #85
rocon_launch doesn't need it, but concert.launch does. I see no problem adding rocon_hub and rocon_gateway to the dependencies for turtlebot_bringup, but these should automatically be brought in if the rocon_app_manager is a dependency?

[2013-08-07 05:41] bit-pirate commented on #85
Ahm, I made a small mistake. The concert launcher is actually `turtlebot_bringup/bringup.concert`.
It contains `paired_public.launch` and `minimal_with_appmanager.launch`. Looking into both I can find only one dependency not being part of turtlebot and that is the `rocon_app_manager`. However, this package is already listed in the `package.xml`.

Strangely, both `rocon_hub` and `rocon_gateway` are

[2013-08-07 05:57] stonier commented on #85
Ok, should be fine then - reopen if necessary.

[2013-08-07 05:57] #85 closed, assigned to stonier

[2013-08-14 04:32] corot opened #88 "Problem with scan topic: gets "camera" ns"
This happens when 3dsensor.launch is launched locally. With the rapps works fine, as it gets inside app ns.

Probably this is a bug in the nodelet manager: https://github.com/ros/nodelet_core/issues/7, but we need a temporal solution.

[2013-08-14 06:55] corot commented on #88
Referenced one, together with this commit on turtlebot_apps, makes all work, but it's just a temporal crappy solution, so we keep the issue open
https://github.com/turtlebot/turtlebot_apps/commit/e90b61066a3844ad9589595e197979d03eb58f05

[2013-08-14 06:57] corot opened #89 "Create a turtlebot_msgs repo"

[2013-08-16 00:56] corot commented on #88
Works again in all cases, but is a cheap hack. Come back on this when we understand what's happening on the nodelet manager.

[2013-08-16 04:29] corot commented on #89
https://github.com/turtlebot/turtlebot_msgs

I have renamed files so they self-explain the app they serve to.

[2013-08-16 04:29] #89 closed, assigned to corot

[2013-08-20 06:06] bit-pirate commented on #80
Changes to openni_launch have been merged and released and 3dsensor.launch has been adapted accordingly.

[2013-08-20 06:07] #80 closed, assigned to bit-pirate

[2013-08-20 06:10] stonier commented on #18
Either fixed or not relevant for us (old create issues). Someone can reopen tickets in here or in turtlebot_create if they have a strong need to.

[2013-08-20 06:10] #18 closed, assigned to nobody

[2013-08-20 06:12] stonier commented on #88
Awaiting response on the nodelet issues - Jorge's workaround is....working.

[2013-08-20 06:18] stonier commented on #81
Marcus has a good point - if you put the rapp list in turtlebot_bringup ,then you are listing apps which have no guarantee whether they are installed or not. That is not ideal.

[2013-08-20 06:20] stonier commented on #81
Better solution is to get the rapp manager to quietly ignore the turtlebot_apps rapp list if it can't be actually found on the filesystem. It will still load the rocon_apps rapp list.

Issue continuing over on rocon.

https://github.com/robotics-in-concert/rocon_app_platform/issues/62

[2013-08-20 06:20] #81 closed, assigned to nobody

[2013-08-20 06:22] stonier commented on #64
How, why?

I wonder if this is the problem Sarah is having as well.

[2013-08-20 06:24] stonier commented on #64
Probably fixed by this one: https://github.com/robotics-in-concert/rocon_app_platform/commit/b507a2bcf9e809e4d87e2cf400c2c73c63892681

Reopen if necessary.

[2013-08-20 06:24] #64 closed, assigned to stonier

[2013-08-20 06:27] stonier commented on #62
Following this in kobuki already: https://github.com/yujinrobot/kobuki/issues/247

[2013-08-20 06:27] #62 closed, assigned to nobody

[2013-08-20 06:29] stonier commented on #59
We ran and tested for a long time. Closing.

[2013-08-20 06:29] #59 closed, assigned to corot

[2013-08-20 06:33] stonier commented on #46
I'd still like to do this, but don't have a massive need for it right now especially avoiding work on create.

Closing this and re-opening a message on standardising these messages.

[2013-08-20 06:33] #46 closed, assigned to nobody

[2013-08-20 06:34] stonier opened #90 "Standardising Messages"
One reason for doing so is to ease compatibility between kobuki and create, but it'd be nice to move some of our messages to common_msgs anyway.

[2013-08-20 06:35] stonier commented on #41
No cycles right now and what we have now is sufficient but lets keep a look out for common solutions coming out.

[2013-08-20 07:33] stonier opened #91 "Changelogs"
- [x] turtlebot
- [x] turtlebot_msgs
- [x] turtlebot_apps
- [x] turtlebot_create
- [x] turtlebot_create_desktop
- [x] turtlebot_viz
- [x] turtlebot_simulator
- [x] kobuki
- [x] kobuki_desktop
- [x] kobuki_msgs
- [x] yujin_ocs

[2013-08-20 07:34] stonier commented on #91
@bit-pirate reckons catkin_xxx command does something with changelogs.

[2013-08-20 07:34] stonier commented on #91
@bit-pirate likes @bit_pirate_xxx

[2013-08-20 08:05] tfoote commented on #91
catkin_generate_changelog and catkin_tag_changelog are the magic xxx for
@bit-pirate

http://www.ros.org/wiki/bloom/Tutorials/ReleaseCatkinPackage

On Tue, Aug 20, 2013 at 12:34 AM, Daniel Stonier
notifications@github.comwrote:

[2013-08-20 09:18] stonier commented on #91
Oooh, thanks for the pointer tully.

[2013-08-21 02:39] corot opened #92 "What _mobile_base_soft.launch does on turtlebot_bringup?"
I think we must remove it

[2013-08-21 04:11] bit-pirate commented on #92
@jihoonl smuggled this one in (https://github.com/turtlebot/turtlebot/commit/60aafbe049c8b38773e80eb5c231ef4f5254dd84). Agreeing in removing it. Please checked, if anything is using it.

[2013-08-21 07:59] corot commented on #92
die, die, die

[2013-08-21 07:59] #92 closed, assigned to nobody

[2013-08-21 09:07] corot opened #93 "I want to remove Changelog file. Looks outdated and can get confused with new CHANGELOG.rst files"

[2013-08-21 09:08] corot commented on #93
If it still says something interesting, should be in the readme

[2013-08-21 11:47] corot commented on #93
die, die, die

[2013-08-21 11:47] #93 closed, assigned to nobody

[2013-08-21 12:56] #91 closed, assigned to corot

[2013-08-22 07:51] bit-pirate opened #94 "Update upstart files"
Just stumbled over this upstart folder., which looks outdated to me, e.g. from `turtlebot.launch` :

[code]

Someone knows what needs to be done with this?

[2013-08-22 07:51] bit-pirate commented on #94
@stonier @corot @yhju maybe?

[2013-08-22 08:55] bit-pirate commented on #84
All repose checked and changes applied where needed.

[2013-08-22 08:55] #84 closed, assigned to bit-pirate

[2013-08-23 03:59] stonier commented on #94
Its the old bootup script so turtlebot autostarts. Useful to have for people who install debs. Saves them having to figure it out for themselves but we never got around to supporting it. Id delete it for now and reintegrate if we ever do it ourselves.

[2013-08-23 04:06] bit-pirate commented on #94
+1 for removing it. It is still in the history and we avoid confusing people, e.g. that turtlebot.launch turns up in the tab completion for turtlebot_bringup.

Any objections?

[2013-08-26 00:44] #94 closed, assigned to nobody

[2013-08-26 00:45] bit-pirate commented on #94
If we need anything from this directory for Hydro, just reintroduced it.

[2013-08-26 00:56] LucidOne commented on #94
I'm updating https://github.com/TurtleBot-Mfg/ros-system-daemon-groovy for Hydro now.

+1 Remove from turtlebot_bringup

[2013-08-29 04:52] stonier opened #96 "Convenient paired environment"
Make this as convenient as it was before. Some nice defaults would  be the way to go as pairing is more popular than multi-robot.
- auto-invite private app manager to the paired master so it's ready to use
- disable uuid's for app manager namespacing
- sync standalone and paired namespacing so launchers work in both
- get the app manager to pass --screen down to its apps when launching.

[2013-08-29 04:58] stonier commented on #96
Alot of this was done in https://github.com/robotics-in-concert/rocon_multimaster/commit/1d5fb7c89ce3a86dab40c8d4d803d7c14f67b1ea and https://github.com/robotics-in-concert/rocon_multimaster/commit/2f1d6b70e24651beca721993cbc10d97c11b713f and https://github.com/robotics-in-concert/rocon_app_platform/commit/56c2d32131ea1721182ae26ddcb7c4dcd461f7f1

[2013-08-29 04:58] #96 closed, assigned to stonier

[2013-08-30 09:17] bit-pirate commented on #71
We just released an updated and complete set of turtlebot, create and kobuki packages. Hence, considering this done. Any new issues will be tracked separately.

[2013-08-30 09:17] #71 closed, assigned to nobody

[2013-08-31 09:06] corot opened #97 "Install turtlebot_bringup fails"
[code]

[2013-08-31 09:10] #97 closed, assigned to corot

[2013-09-02 10:51] stonier opened #98 "Frequent openni failure on precise"
Quite often getting:

[code]

and then lots of bleeding from the image nodelets. After failure:

[code]

fixes the problem. Not a very good situation.

[2013-09-02 11:05] bit-pirate commented on #98
That (XnSensor not shutting down) is a known problem. [OpenNi2](https://github.com/ros-drivers/openni2_launch) might be a solution.

[2013-09-02 11:06] mikeferguson commented on #98
@stonier, you might look into openni2_camera moving forward. It's many times more robust than openni_camera. Once the packages.ros.org stuff is all moved over to OSU, the debs I released last week will be in shadow fixed.

[2013-09-02 11:08] bit-pirate commented on #98
:smile:

[2013-09-02 11:10] mikeferguson commented on #98
@bit-pirate -- I will probably get debs released of openni2_launch before the end of this week -- first I want to gut it and make a thin wrapper around rgbd_launch (as was already done for openni_launch and freenect launch)

[2013-09-02 11:13] stonier commented on #98
Great, thanks for the heads up.

[2013-09-10 10:08] bit-pirate commented on #98
Do we want to get this in before or after we release officially for Hydro?

I prefer to do it after.

[2013-09-10 10:38] mikeferguson commented on #98
btw -- I thought about it afterwards -- and openni2 isn't going to help turtlebot, since most of them use kinects -- the openni2_camera stuff is only for asus/primesense sensors, and I believe the recommended driver for kinects is now freenect + rgbd_launch

@piyushk can you confirm that freenect is what is generally being recommended, that was what I understood from discussions a few weeks back?

[2013-09-10 10:40] mikeferguson commented on #98
I should also note, that with rgbd_launch being used as the basis for launch files for both freenect and openni2_camera, it should be pretty seamless going between the two with all the same topic names/etc.

[2013-09-10 10:43] bit-pirate commented on #98
I thought OpenNI2 will be more stable in general. OpenNI camera uses the
OpenNI libray version 1.5.4 (I think), which is quite outdated.

2013/9/10 Michael Ferguson notifications@github.com

##

Marcus Liebhardt
Adresse: Zimmer 403, 634-1 Seongsan-dong, Mapo-gu, 121-846, Seoul, Republik
Korea
Address: Room 403, 634-1 Seongsan-dong, Mapo-gu, 121-846, Seoul, Republic
of Korea
주소: 대한민국 서울특별시 121-846

[2013-09-10 10:47] mikeferguson commented on #98
openni2 will be more stable -- but the libopenni2 package that is released into PCL (and ROS, as that is what we are pulling) does not include the numerous kinect-specific hacks that were added to the old libopenni to support kinects. My understanding from talking to upstream maintainers was that the preference was to use freenect (which has become very stable) for kinects, and use openni2 only fo

[2013-09-10 12:47] piyushk commented on #98
@mikeferguson I'm afraid I have no idea if freenect is recommended over openni2.

@stonier I can confirm your original bug report. I also know that it cropped up the instant I installed ros-hydro-pcl-conversions (i.e. libpcl-1.7-all-dev). I thought it was an issue specific to my machine, so I was planning on testing on other machines I had not updated yet. It should be a pretty easy test - I will

[2013-09-10 14:16] piyushk commented on #98
@stonier I take it back. I cannot reproduce the problem anymore.

I have one guess though. On the day Hydro released, there was a dependency conflict between hydro-pcl-conversions and hydro-openni-camera (PCL was pulling in an outdated version of openni). The issue has since been fixed. Can you verify the following:
- openni-dev and ps-engine are NOT installed
- libopenni-dev is installed at 1.5.4

[2013-09-14 01:33] stonier opened #100 "Changelog subsections incapacitate catkin_tag_changelog"
Jorge, I think you started putting in a human effort for subsections like:

[code]

which becomes after a `catkin_generate_changelog`:

[code]

I like it, but catkin_tag_changelog can now no longer find the forthcoming labels and update. We need to either:
- Remove the top most subsection label in each changelog OR
- See if giving the subsection a different label (maybe the 2.2.x is confusing catk

[2013-09-14 02:03] stonier commented on #100
Seems to be very sensitive. I tried many variations
- 2.2.x - hydro, bugfixing -> Release 2.2.x - hydro, bugfixing
- Changing underlining from === -> ---- -> ^^^^^ -> 2x-----
  - Sometimes works, but fails again if you update the second section header below too.

Just took the top section heading out of this stack for the 2.2.1 release (see #99).

[2013-09-14 05:58] bit-pirate commented on #100
That´s a leftover from the old times. Just remove those sections.

2013/9/14 Daniel Stonier notifications@github.com

##

Marcus Liebhardt
Adresse: Zimmer 403, 634-1 Seongsan-dong, Mapo-gu, 121-846, Seoul, Republik
Korea
Address: Room 403, 634-1 Seongsan-dong, Mapo-gu, 121-846, Seoul, Republic
of Korea
주소: 대한민국 서울특별시 121-846 마포구 634-1 성산동 4 층 403 호
Mobile / Mobilfunk: +82 10 3322 0566
Email: ich@m

[2013-09-15 00:05] tfoote opened #101 "Upstart should not take down system on loss of connectivity"
A more advanced check should be added that determines if the IP has changed on network adapter bringup, and only then restarts the launch file.

Not sure if this is still an issue.  Clearing out the kforge tracker: https://kforge.ros.org/turtlebot/trac/ticket/73

[2013-09-24 04:12] corot commented on #101
Not sure if I understand what you mean... Can you give more details?

[2013-09-24 04:17] corot commented on #100
yes, I noticed this long time ago, so I have being removing this extra header whenever it bothers catkin_tag_changelog, instead of removing all systematically.

Sorry, I didn't tell cause I thought it's a tinny detail.

[2013-09-24 04:22] corot commented on #100
I noticed this long time ago, but instead of removing all systematically, I only did whenever it bothers me in a new release. Now is gone in all our repos.

Sorry, I didn't notice everyone as it's a trivial issue.

[2013-09-24 04:22] #100 closed, assigned to corot

[2013-09-24 06:00] tfoote commented on #101
When we first wrote the upstart rules it would start up the turtlebot services when it got an IP on the wan port.  And it would restart them if it got a new IP.  However in doing this, if it roved out of range of any access point and ended up with no IP address assigned it would stop the services as they were setup to run when the IP was configured. Thus if your robot wandered out of wifi range it

[2013-09-24 17:24] LucidOne commented on #101
I'd really prefer we build on this, but it needs more feedback.
https://github.com/TurtleBot-Mfg/ros-system-daemon-hydro

[2013-10-04 07:04] corot opened #102 "Battery info not working on reference laptop?"
Need to dig more on this, but looks like the battery reader script needs a review. On ASUS laptops I have noticed that:
- battery info is on /sys/class/power_supply/BAT0, and not on default /proc/acpi/battery/BAT0
- charging symbol doesn't appear in the dashboard

Am I missing something? Is current configuration a legacy of the previous reference laptop?

[2013-10-10 09:51] corot commented on #102
There was a similar problem 7 months ago, fixed on https://github.com/turtlebot/turtlebot/pull/61, but apparently strikes back

[2013-10-16 03:53] corot opened #103 "depthimage_to_laserscan starves if depth_registration is true"
On 3dsensor.launch, depthimage_to_laserscan looks for depth/image_raw topic, but if we are using depth_registration (the default behavior) it will not work because in this case depth image topic is depth_registered/image_raw.

We should make remapping conditional.

[2013-10-16 04:20] bit-pirate commented on #103
+1

Or just set the default to `depth_registered/image_raw`.

[2013-10-16 05:33] tfoote commented on #103
It also could be setup with a mux nodelet.

On Tue, Oct 15, 2013 at 9:20 PM, Marcus Liebhardt
notifications@github.comwrote:

[2013-10-16 08:07] corot commented on #102
Interestingly enough, our Chopin laptop still works as expected, and battery info is on /proc/acpi/battery/BAT0. Something changed in the configuration of the other laptops.

[2013-10-22 12:46] rk4an commented on #102
We just made a clean install of **Ubuntu 12.04.3 LTS** and the default kernel are **3.8.0-31-generic** instead of previous **3.2.0-53-generic-pae** (default netbook ASUS 1025C)

So file are moved from _/proc/acpi/battery/BAT0_ to _/sys/class/power_supply/BAT0_

But  the new **laptop_hardware.py** file doesn't work because some files was renamed:
- no **energy_now** file but a **charge_now**
- no *

[2013-10-23 23:49] bit-pirate opened #105 "Improve muxing with turtlebot_teleop"
Seems like turtlebot_teleop does not work well with the velocity muxer using the default settings, because it is constantly publishing velocity commands.

For example, one cannot run turtlebot's teleop together with navigation, see [this question](http://answers.ros.org/question/65626/autonomous-navigation-of-a-known-map-with-turtlebot-problem/?answer=66283#post-id-66283). Using navigation togethe

[2013-10-25 00:31] corot commented on #105
Yep, we need to modify turtlebot teleop; cmd_vel_mux needs that all inputs behave politely to work, no spaming with zero-velocity messages when inactive.

[2013-10-25 07:12] jihoonl opened #106 "not finding platform_info"
sometimes when I pressed back button from app to return to remocon

it couldn't find platform_info service and shutdown

[2013-10-25 07:19] jihoonl opened #107 "kinect stability"
In some laptops, kinect driver really often crashes.

[2013-10-25 07:21] jihoonl opened #108 "improve error introspection with android"
At the moment, it is really hard to whether there is software failure in robot with android.
Even reading terminal, it is hard to know whether app is properly terminated or app manager get crashed.

[2013-10-25 07:22] jihoonl opened #109 "paired master allowed two android access into one robot"
Sometimes it happens.

[2013-10-25 07:24] stonier commented on #108
Are you saying the app manager is crashing on stop apps?

[2013-10-25 07:33] stonier commented on #109
Please move to rocon_app_platform.

[2013-10-25 07:35] stonier commented on #107
Needs more than this to start debugging. A copy/paste of the error would be useful.

[2013-10-25 07:36] jihoonl commented on #109
https://github.com/robotics-in-concert/rocon_app_platform/issues/84

[2013-10-25 07:36] #109 closed, assigned to nobody

[2013-10-25 07:47] stonier commented on #108
Please move to android_remocons

[2013-10-25 07:48] stonier commented on #106
please move to android_remocons

[2013-10-25 08:11] bit-pirate commented on #106
Maybe make one issue here at turtlebot summarising the various issues you
encountered and link to them (e.g. hydro ISO issues). Will make it easier
to track them down.

2013/10/25 Daniel Stonier notifications@github.com

[2013-10-27 23:47] stonier commented on #107
Are people on ros answers experiencing the same problems?

I'd like to confirm that there is actually a problem first. Working with no data here.

[2013-10-28 07:21] corot commented on #102
Ok, finally I took some time to dig on this:
- The pull request doesn't affect 3.2.\* and below kernels, so I merged it
- The problem stated in the issue doesn't get affected neither; the problem is in the way we process the information on BAT0 files (I'll fix all this tomorrow)
  - Values must be divided by 10e6
  - Current doesn't get possitive when charging, so the charging symbol never appears

[2013-10-30 11:11] robinJKU commented on #103
I think this is a more complicated issue: https://github.com/ros-drivers/openni_launch/issues/7
If depht registration is turned on, I can't see any depth images nor a point cloud. According to the above link it seems like a bug in the openni driver.

[2013-10-31 14:29] hofes opened #110 "Error with diagnostics.yaml for roomba"
If the robot base is set to roomba I get an error when launching minimal.launch. It seems that the redirection in param/roomba/diagnostics.yaml to param/create/diagnostics.yaml is not working.
A work around that worked for me was to hardcode the create base for the diagnostics node in launch/includes/robot.launch.xml.

[2013-10-31 14:34] hofes opened #111 "Changing Serial Port"
Isn't there a better way of changing the serial port (from ttyUSB0 to ttyS0) than changing the launch/includes/mobile_base.launch.xml.
Doing so always makes it necessary to change the launch file after every update of the turtlebot stack or to copy the turtlebot_bringup to a different (e,g. myrobot_bringup) package. Couldn't a environment variable be a better solution than hardcoding the port in t

[2013-10-31 17:38] tfoote commented on #111
The parameter is set for the default configuration of the TurtleBot.  The clean way to do this is to use launch arguments with a default value. Which get passed down to the lower level launch files.  In practice very few people use a different port. which is why we have not taken the time to make it parameterizable. If you'd like to do that a patch would be appreciated.  However I think it will be

[2013-10-31 17:41] tfoote commented on #110
Please provide a way to reproduce your problem with both the expected output and the observed output.  It looks like the parameter is being passed correctly in minimal.launch https://github.com/turtlebot/turtlebot/blob/hydro-devel/turtlebot_bringup/launch/minimal.launch#L11

[2013-11-01 01:00] bit-pirate commented on #111
I don't know your exact use case, but for Kobuki we added extra information to the FTDI chip, what let's automatically  create the right symlink using a UDEV rule.

I assume you are using the Create. You might be able to create such a script for your specific Create as well (if you do, please share it here with the other create users).

[2013-11-02 04:28] #102 closed, assigned to nobody

[2013-11-04 14:30] mayrjohannes commented on #111
In this particular case a roomba is used and we are directly connected to a serial port of the on board mainboard. So there is no USB Serial converter in between. I think just creating a symlink can cause troubles if using an additional USB Serial converter. The best solution would be to add the parameter as proposed by tfoote as an launch argument. We will change this and supply a patch the next

[2013-11-04 14:32] mayrjohannes commented on #110
just set the environmental variable TURTLEBOT_BASE to roomba, then the error occurs.
The launch file is doing everything right, but I think the script in param/roomba/diagnositcs.yaml is not working.

By the way, there is also an spelling error in the second line of the launch file. rhoomba shoud be roomba.

[2013-11-04 17:38] tfoote commented on #111
Yeah, A pull request on github will get this taken care of the quickest.

[2013-11-05 17:28] tfoote opened #113 "turtlebot_bringup missing dependency on yocs_cmd_vel_mux missing"
It uses this nodelet: yocs_cmd_vel_mux/CmdVelMuxNodelet in the kobuki mobile_base launch.
I had to install the package manually to get it to run.

[2013-11-06 09:08] #113 closed, assigned to nobody

[2013-11-10 11:43] bit-pirate opened #115 "Remove app manager specific data in robot.launch.xml"
I don't think this data belongs into `robot.launch.xml` (https://github.com/turtlebot/turtlebot/blob/hydro-devel/turtlebot_bringup/launch/includes/robot.launch.xml ):

[code]

I guess those are leftovers, since similar data is specified in the `minimal_with_app_manager.launch` launcher (https://github.com/turtlebot/turtlebot/blob/hydro-devel/turtlebot_bringup/launch/minimal_with_appmanager.launch

[2013-11-11 11:47] stonier commented on #115
These parameters need to be set somewhere. The app manager definitely uses them. And I _think_ nobody else does, but they're interesting parameters to have around even when there is no app manager.

Shouldn't be hardcoded to turtlebot nor ROBOT there though. Should be using the args filtered down from minimal.launch and co, or similar.

[2013-11-18 01:44] robograffitti opened #117 "minimal.launch can not obtain the laptop battery state"
When bringing up the robot with minimal.launch, I started to receive this message recently:

[WARN] [WallTime: 1384738455.761193] Battery : unable to check laptop battery state [/proc/acpi/battery/BAT0 does not exist]
[turtlebot_laptop_battery-10] process has finished cleanly
log file: /home/y-tanaka/.ros/log/83257de0-4ff1-11e3-8cd9-00216a8f54f6/turtlebot_laptop_battery-10*.log

As shown in the me

[2013-11-18 01:49] robograffitti commented on #117
I found the same issue here:
https://github.com/turtlebot/turtlebot/issues/102

Sorry

[2013-11-18 01:49] #117 closed, assigned to stonier

[2013-11-21 07:47] jihoonl opened #118 "turtlebot stable branch"
Create hydro branch for stable release. Use hydro-devel as experimental branch
- [x] turtlebot
- [x] turtlebot_apps
- [x] turtlebot_viz
- [x] turtlebot_simulator
- [x] turtlebot_create_desktop
- [x] turtlebot_msgs
- [x] turtlebot_msgs
- [x] turtlebot_create
- [x] wiki update
- [x] rosdistro/doc.yaml
- [x] rosdistro/source.yaml
- [x] rosinstall file

[2013-11-21 08:42] jihoonl commented on #118
turtlebot is not listed in source.yaml

[2013-11-21 08:47] #118 closed, assigned to jihoonl

[2013-11-24 11:29] stonier commented on #106
Cannot reproduce.

[2013-11-24 11:29] #106 closed, assigned to stonier

[2013-11-24 11:30] stonier commented on #107
@corot and @bit-pirate did alot of testing and couldn't reproduce any issues on multiple robots.

I also ploughed through ros answers and came up with nothing recent.

Closing.

[2013-11-24 11:33] stonier commented on #110
Spelling fix in 97a72c6bff2687169caaf818fd34628e6b8cb7af

[2013-11-24 11:35] stonier opened #119 "Branch cleanup"
Guys, if you don't claim branches, I'm going to clean them at the end of the week (Dec 1). I've attached the last author to have committed to these branches below. Check the item below if you want to keep it.
- [ ] 3dsensor_test @
- [ ] common @zklapow
- [x] capabilities_integration @bit-pirate
- [ ] master @corot
- [ ] new_appmanager @corot
- [ ] turtlebot-x @corot
- [ ] updates @jihoonl

[2013-11-25 00:11] bit-pirate commented on #119
Don't take what is mine! :-P

[2013-11-25 00:36] jihoonl commented on #119
updates and new_appmanager have been deleted.

I think turtlebot-x is a legacy from waiterbot integration

[2013-11-25 00:39] tfoote commented on #107
Is this an issue with Kinects that basically won't start streaming? I can
reproduce that and the last few demos I've switched to the freenect driver
at 2am to make sure follower worked.

On Sun, Nov 24, 2013 at 3:30 AM, Daniel Stonier notifications@github.comwrote:

[2013-11-25 00:41] jihoonl commented on #119
master should be the last rosmake code used in groovy

[2013-11-25 01:13] bit-pirate commented on #119
If this is true, renaming it to fuerte/rosmake/rosbuild or similar might be a good idea.

[2013-11-25 01:15] bit-pirate commented on #107
I can't remember similar issues. Could you provide some information about how to reproduce this? Please also include your laptop's type and model number. Also, did you make sure not to use a USB3.0 port? We had issues with Kinects on USB3.0 in the past.

[2013-11-25 02:12] tfoote commented on #107
The ones we have are the ones provided with the bots.  And we were definitely not plugging into the USB 3.0. I'm traveling this week. @wjwoodward had the same issues and is near the devices so might be able to help provide more details. I'll be back next week.

[2013-12-04 14:42] pvandervorst commented on #107
I have support tickets coming in with Kinect not working after running dist-upgrade. I believe it works fine on 12.04, but anything later and the Kinect won't stream any data.

[2013-12-04 14:46] stonier commented on #107
Ah, that might explain why I haven't seen it - have only worked with precise + turtlebot.

[2013-12-09 06:30] bit-pirate opened #120 "Add capabilites support"
Currently being developed in the `capabilities_integration` branch. Finish the implementation and merge it.

[2013-12-09 06:31] bit-pirate commented on #120
First need to solve this: https://github.com/osrf/turtlebot2_capabilities/issues/2

[2013-12-09 06:37] bit-pirate commented on #120
And need to integrate kobuki capabilites: https://github.com/yujinrobot/kobuki/issues/312

[2013-12-22 23:32] jihoonl commented on #119
@stonier  whats going on with this.

[2013-12-23 03:04] stonier commented on #119
- master deleted, it's a trivial commit away from groovy.
- 3dsensor_test deleted, it was merged back into the main branch
- turtlebot-x deleted, it was an almost trivial xacro commit with experimental laser on top.
- common deleted, it was a parallel dashboard experiment that is really old now.
- capabilities_integration deleted, it is merged into hydro-devel.

[2013-12-23 03:11] #119 closed, assigned to nobody

[2013-12-24 01:37] stonier opened #122 "Move linux_hardware msgs to turtlebot_msgs"
Separate messages so its easier to build/work with the turtlebot from other platforms.

[2014-01-03 14:47] spragunr opened #123 "Some topics created by 3dsensor.launch produce no messages"
Under Groovy, 3dsensor.launch created a large number of topics, any of which could be visualized in rviz.  Under Hydro, more or less the same topics are created, but only a subset of topics ever produce any messages.  For example the /scan topic is silent.   The mix of working topics changes based on depth registration.  For example /scan works if the file is launched like this,

`3dsensor.launch

[2014-01-14 02:45] stonier commented on #123
Thanks for posting...I'll check this when I have a chance.

[2014-02-19 11:03] lukacu commented on #110
I can also confirm this problem. The only fix that works is to copy the full `diagnostics.yaml` file from `create` to `roomba` folder. Should I create a pull request for this?

[2014-02-21 09:05] bit-pirate commented on #110
Yes, please! :+1:

[2014-03-03 03:35] #110 closed, assigned to nobody

[2014-03-03 03:46] jihoonl commented on #111
#112 fixed.

[2014-03-03 03:46] #111 closed, assigned to nobody

[2014-03-10 07:52] fuesschen opened #125 "Starting minimal.launch fails by reading the description file"
Everything is compiled successfully on ARM but try to start minimal.launch fails with the following output

[code]

[2014-03-10 15:01] bit-pirate commented on #125
From your error log:

[code]

Looks like you are missing this package. Please make sure `create_description` is in ROS_PACKAGE_PATH / workspace.

[2014-03-11 07:23] fuesschen commented on #125
thank you ros-hydro-create-description solves the problem

[2014-03-11 07:23] #125 closed, assigned to nobody

[2014-03-18 05:33] jihoonl opened #126 "indigo-devel branching"
While working on waiterbot, I figure out that the turtlebot hydro-devel branch is not compatible with rocon hydro-devel branch. In order to keep the waiterbot code working with up-to-date rocon, we need to upgrade turtlebot to be compatible with up-to-date rocon hydro-devel as well.

Shall we create indigo-devel and keep it compatible with rocon?

[2014-03-18 06:37] stonier commented on #126
Why not just upgrade turtlebot hydro devel. Im definitely not in favour of
maintaining two branches if we dont need to.
On 18 Mar 2014 14:33, "Jihoon Lee" notifications@github.com wrote:

[2014-03-18 08:10] jihoonl commented on #126
If hydro-devel is to prepare indigo, sure.

[2014-03-18 08:10] #126 closed, assigned to nobody

[2014-03-18 08:19] stonier commented on #126
The rocon hydro-devel branches are the same. I only happen to have an indigo branch since I don't have hydro on my machine.

[2014-04-03 02:04] #123 closed, assigned to nobody

[2014-05-09 07:31] dwlee opened #134 "update minimal_with_appmanager.launch"
Due to the changes in rocon_app_manager, it also needs to be updated.

[2014-05-09 11:26] bit-pirate commented on #134
Updates are already in the _caps_rapps_upgrade_ branch: https://github.com/turtlebot/turtlebot/blob/caps_rapps_upgrade/turtlebot_bringup/launch/rapp_platform.launch

[2014-05-11 15:41] b2220333 opened #135 "Failed to install ros-hydro-turtlebot with unmet dependencies"
When I run:

sam@sam:~/code/ros_hydro_overlay/src$ sudo apt-get install ros-hydro-turtlebot ros-hydro-turtlebot-apps ros-hydro-turtlebot-viz ros-hydro-turtlebot-simulator ros-hydro-kobuki-ftdi
Reading package lists... Done
Building dependency tree
Reading state information... Done
You might want to run 'apt-get -f install' to correct these:
The following packages have unmet dependencies:
 libbulle

[2014-05-11 19:23] tfoote commented on #135
You have a preexisting conflict with the bullet package you need to fix that before you will be able to install almost anything.  Did you manually install bullet previously?

This isn't a problem with TurtleBot. Please take a look at more generic forums about apt support and if you can't find the solution ask for help on answers.ros.org.

[2014-05-11 19:23] #135 closed, assigned to nobody

[2014-05-12 14:36] corot opened #136 "Allow providing a custom robot description to turtlebot_bringup/minimal.launch"
That is, instead of always providing base, stacks and 3d_sensor arguments, give also the alternative of providing a path to a custom urdf file. The idea is to avoid forcing people with a customized Turtlebot to replicate the chain

just to load their own URDF robot description.

I mark this as question because I seek for some consensus before doing nothing. I can understand that some people can co

[2014-05-13 01:09] bit-pirate commented on #136
+1

PR 주세요! :-)

[2014-05-13 06:28] corot commented on #136
응, 응,   +2 있으면 해요!

[2014-05-13 07:48] corot commented on #136
I didn't know, but in fact, it used to be like this on turtlebot 1:

https://github.com/turtlebot/turtlebot/blob/5a90ab0f53305551277528fb96a0456a321d237b/turtlebot_bringup/minimal.launch

[2014-05-20 04:26] jihoonl commented on #134
robot_name, and rapp package whitelist used to be configurable with optenv, environment variable. It would be good to keep it as it was.

https://github.com/turtlebot/turtlebot/blob/hydro/turtlebot_bringup/launch/minimal_with_appmanager.launch#L1-L18

[2014-05-20 04:31] jihoonl opened #137 "Make sure rapp_package_white_list is parseable"
It is a follow-up issue from #134. We should make sure rapp_package_whitelist configured by environment variable.

It seems like it does not parse properly if the argument is a list configured by environment variable.

[2014-05-21 03:20] bit-pirate opened #138 "Re-release with new bloom"
There is an issue with optimisation and debug flags not set, when doing release with an old bloom version (<0.5.8) for Quantal, Raring and Trusty for both Hydro and Indigo.

Whenever convenient we should do a re-release of all turtlebot packages for Hydro and Indigo.

Details here: http://lists.ros.org/pipermail/ros-users/2014-May/068657.html

[2014-05-21 23:03] corot commented on #136
Well.... maybe it's not that good idea at the end:
- We must tweak many launch files, increasing the number of arguments by 2 (urdf_file + custom_robot flag)
- It's much simpler just to overwrite the robot_description in your own custom robot launchers

[2014-05-21 23:03] #136 closed, assigned to corot

[2014-05-23 06:09] jihoonl commented on #138
done.

[2014-05-23 06:09] #138 closed, assigned to nobody

[2014-06-01 04:16] #122 closed, assigned to stonier

[2014-06-01 04:18] stonier commented on #107
Working fine on 14.04 and haven't had any news on this for a while so I'll close this. Reopen with a new ticket if there are fresh problems.

[2014-06-01 04:18] #107 closed, assigned to stonier

[2014-06-01 04:20] stonier commented on #98
Closing this - we have it working fine on precise and trusty now and have had no news for a while. Open a new ticket if there are fresh problems.

[2014-06-01 04:20] #98 closed, assigned to stonier

[2014-06-01 04:37] stonier opened #139 "Indigo upgrade meta-issue"
This is just a draft of the main changes we're thinking of putting in for indigo
- [x] linux_hardware -> ros-drivers/linux_peripheral_interfaces
- [x] turtlebot_msgs/LaptopChargeStatus.msg -> ros-drivers/smart_battery_msgs/SmartBatteryStatus.msg (or similar)
- [x] Upgrade android pairing via rocon interactions
  - no more dual master
  - no android specifications in rapps
  - parameterisable and r

[2014-06-01 11:02] stonier opened #140 "Kernel patch for Kinect on USB 3.0"
## Warning

:heavy_exclamation_mark: **Experimental**

This is a result of buying laptops without paying heed to what usb ports they actually made available (despite motherboard specs supporting both 2.0 and 3.0!).

I have no idea exactly the nature of the side-effects of these changes (they were reluctant to accept hard coded ring buffer size changes into the kernel, preferring to consider a dyna

[2014-06-01 11:45] stonier opened #141 "Trusty laptop battery state not detected"
[code]

Note we don't get an exception about the info though.

[2014-06-02 04:13] tfoote commented on #140
@cinchcircuits @mikeferguson FYI

[2014-06-02 04:28] mikeferguson commented on #140
@stonier What ROS interface are you using? Openni, Openni2, or libfreenect?

[2014-06-02 04:31] mikeferguson commented on #140
@stonier Also, what problem does this fix? Are you completely unable connect, unable to keep a reliable connection, or something else?

[2014-06-02 08:19] stonier commented on #140
Using openni (1.5.4) with a kinect 1 on trusty/indigo. I basically just ran turtlebot hydro sources on trusty with indigo debs underneath. There were just a couple of minor updates needed, but these weren't 3d sensor related and compilation was fine.

Before the kernel patching and with the usb 3.0 ports on both my pc and laptop - no warnings of any kind on the openni_launch side and it printed 1

[2014-06-11 05:32] stonier commented on #139
**Deb Conflict - libopenni-sensor-primesense0**

Details of the issue are [here](https://github.com/ros/rosdistro/issues/3986). To resolve it for now:

[code]

[2014-06-12 09:04] stonier opened #142 "3d sensor rgb image missing"
Nothing coming out on `/camera/rgb/image_color`. Probably missing required dependencies.

We need:
- ros-indigo-eigen-conversions

[2014-06-12 09:23] stonier commented on #142
ros-indigo-eigen-conversions because of:

[code]

[2014-06-13 00:14] stonier commented on #142
Sent a pull request upstream for `depth_image_proc` to fix its runtime dependencies: https://github.com/ros-perception/image_pipeline/pull/79

[2014-06-13 07:38] stonier commented on #142
Merged in, should be released soon.

[2014-06-13 07:38] #142 closed, assigned to stonier

[2014-06-13 19:09] ruffsl commented on #139
Thanks, This worked for me.

[2014-06-19 03:18] stonier opened #143 "Turtlebot interactions"
Interactions to be added to indigo turtlebot.

[2014-06-19 03:20] stonier commented on #143
- **Documentation**
- [x] The turtlebot indigo wiki page
- [x] The turtlebot google+ page
- [x] The kobuki yujinrobot page
- [x] The turtlebot sig (google group)
- [x] Ros answers url with keyword search for turtlebot|kobuki|turtlebot2
- [ ] ... add others later as we fill in the documentation

[2014-06-19 03:21] stonier commented on #143
**Admin**

Better name for this role? These will need to be rocon_uri constrained so that they run on the qt remocon only (not the android remocon).
- [x] rocon_master_info
- [x] rqt_graph
- [x] rqt_console
- [ ] ...?

[2014-06-19 03:32] stonier commented on #143
## Pairing

This will take a bit longer as we need to revise all the rapps in `turtlebot_rapps`. The rapps need their specification files upgraded and we should not call them 'android_xxx' anymore.

**Common Pairings**
- [x] rocon_apps/chirp + ''  (i.e. no remocon side app)

**Qt Remocon Pairings**
- [x] Make a Map : need to work out this one (need make a map rapp +  teleop, + rviz)
- [x] Navigati

[2014-06-20 01:41] kentsommer commented on #143
All interactions are added except for Follower for Qt and Android. They are waiting on workflow discussion about how to handle launching with capabilities.

[2014-06-29 14:18] stonier commented on #143
Map store we can update when we hit the android programs. Are we good to close this for now kent?

[2014-06-29 16:02] stonier opened #146 "Capabilities on indigo"
@bit-pirate @tfoote how much would you like to get capabilities into tbot on indigo? Not sure it's going to create a 'simple' environment for turtlebot which is aimed at new ROS users afterall. Key discussion points:

**No capabilities for create** - unless someone gets in and does these, the idea of capabilities is awol. Are we going to support create on indigo? Is there much work to making Creat

[2014-06-29 23:50] kentsommer commented on #143
This is done, I will close it out for now. If there are any issues with the android pairings once all the android apps are updated I can open another issue.

[2014-06-29 23:50] #143 closed, assigned to kentsommer

[2014-07-07 14:42] nlyubova commented on #139
thanks! perfect! it works

[2014-07-09 14:52] corot opened #149 "Indigo turtlebot.rosinstall still gets hydro-devel branches"
So this error appears: https://github.com/turtlebot/turtlebot_apps/issues/88

Are we ready to clone indigo branches?

[2014-07-09 17:09] stonier commented on #149
It's using rosinstallers in `yujin_tools`. See the [wiki page](http://wiki.ros.org/turtlebot/Tutorials/indigo/Installation). No real reason except that I wasn't planning on announcing that some updates were going on at the time, so didn't reflect that in the real rosinstall.

[2014-07-22 02:14] mirzashah opened #151 "Separate or make option use of robots-in-concert framework in minimal.launch in Indigo"
@stonier Though the concept of robots-in-concert app manager stuff seems useful and makes sense in the big picture...would it be possible to make it optional? It seems counter-intuitive for minimal.launch to do more than bring up the base driver, 3d sensor, robot state publisher, and robot pose ekf. It can also mess with folks using their own multi-master implementation.

I would suggest something

[2014-07-22 10:57] stonier commented on #151
We're in the middle of experimenting with turtlebot interactions and haven't finalised exactly how we want to introduce these over the next distro or two (very happy to chat about this). The app manager is not new, but I guess we're thinking about integrating it more fundamentally. It is however, merely a bringup/roslaunch manager. All it does is make it easy to expose and select which launcher yo

[2014-07-22 19:33] mirzashah commented on #151
@stonier Ah I get it...my mistake on the 3d sensor being in minimal. Also I was mistaken about a multimaster being brought up. My frustration came from building from source as packages haven't been released yet and finding about a dozen additional packages were needed just to bring up the base. A lot of the app manager nodes were producing errors/crashing for me --  took me a while to get through

[2014-07-22 19:33] #151 closed, assigned to nobody

[2014-07-23 00:30] stonier opened #153 "Don't redefine exports in the environment hooks"
See discussion in #152.

You might like to play around with what is given [here](http://stackoverflow.com/questions/307503/whats-the-best-way-to-check-that-environment-variables-are-set-in-unix-shellscr) on stack overflow.

[2014-07-23 00:32] stonier commented on #153
Make sure to update the [wiki](http://wiki.ros.org/turtlebot/Tutorials/indigo/Create%20Base) to generalise the reference to sourcing `after` setup.bash there.

[2014-07-23 00:52] PaulBouchier commented on #153
This is a workable solution Daniel. It makes sense that defaults should optimize for the newer platform (Kobuki). Now it's documented to set create variables AFTER setup.sh I can do that. Question: what will happen for deb installs when they become available? Do you envision that create users should source /opt/ros/indigo/setup.h then export those env vars to overwrite the Kobuki values that /opt/

[2014-07-23 00:56] stonier commented on #151
If you come across any bugs in the install process, be sure to post them!

Think of ros 2.0 as the underlying technology, rocon is/will be one kind of glue on top. Unfortunately it's taken a bit longer for ros 2.0 to come along (and will be a long while yet) so we needed to move on some things and are using basic ros comms and zeroconf as 'stubs' till the time comes when we can slot in ros 2.0 com

[2014-07-23 00:58] stonier commented on #153
Once @kentsommer applies the fix we're planning here, it won't matter when you set those variables. BEFORE or AFTER, both will be fine.

[2014-07-23 01:39] #153 closed, assigned to kentsommer

[2014-07-23 01:40] kentsommer commented on #153
:bowtie:

[2014-07-23 02:09] jihoonl commented on #151
:neckbeard:

[2014-07-23 05:30] mirzashah commented on #151
Oh that "master pun" + neckbeard made my night :)

Ah I was suspecting you guys were using ros 1.0 + zeroconf as a stopgap measure for ROS 2. Totally makes sense. Ok, good to know they're complimentary rather than competitors. It sounds useful and a  strong progression on the status quo. It actually lines up nicely with an upcoming need we have, so I'll  play with it when I get the chance and atte

[2014-07-29 03:21] stonier opened #156 "openni_launch -> openni2_launch"
Anything holding us back from possibly doing this for indigo?

[2014-07-29 03:24] mikeferguson commented on #156
Are you still using Kinects? openni2 doesn't support the Kinect, the recommendation has been to use freenect instead.

[2014-07-31 17:49] stonier commented on #156
Yeah, just learned the old kinect wouldn't run on openni2. We might have to switch soon though and we're already using Asux Xtions on our other robots. Have to stay with openni for now as long as turtles are selling with kinects.

[2014-07-31 17:49] #156 closed, assigned to nobody

[2014-08-11 02:42] jihoonl opened #158 "ros-args documentation"
[code]

[code]

[2014-08-12 01:18] bit-pirate commented on #158
Cool, a new roslaunch feature I didn't know of before!

[2014-08-13 08:00] jihoonl commented on #134
minimal_with_app_manager has been removed in indigo. Closing the issue.

[2014-08-13 08:00] #134 closed, assigned to nobody

[2014-08-16 04:22] jihoonl opened #160 "update turtlebot_capabilities.rosinstall"
It includes invalid branch name `capabilities_integration`

https://github.com/turtlebot/turtlebot/blob/indigo/turtlebot_capabilities.rosinstall#L58

[2014-08-16 04:36] jihoonl commented on #137
https://github.com/turtlebot/turtlebot/commit/e3305f4f1f2ae00ea06d40d26db7ef0c6ecf8faa should have solved the problem.

[2014-08-16 04:36] #137 closed, assigned to nobody

[2014-08-20 15:34] corot commented on #140
mmm...  I have tried right now a similar configuration (trusty/indigo/USB 3.0) and all works fine without any patch. I have both my trusty and indigo installations updated to the very last versions, so I suppose this have got fixed somehow during the summer.

[2014-08-26 04:56] jihoonl opened #162 "update interaction icons"
[turtlebot interactions](https://github.com/turtlebot/turtlebot/blob/indigo/turtlebot_bringup/interactions/pairing.interactions) didn't use rapp's icons..

[2014-08-26 04:57] #162 closed, assigned to nobody

[2014-09-11 10:54] trainman419 opened #163 "turtelbot_bringup env hook missing dependency on turtlebot_navigation in Indigo"
I have a very minimal turtlebot setup, without navigation, and every time I start a terminal I get an error message stating that turtlebot_navigation cannot be found. Since turtlebot_navigation is not a dependency for turtlebot_bringup, I don't have it installed.

Poking around a bit, it looks like this is caused by one of the new environment hooks in Indigo: https://github.com/turtlebot/turtlebot

[2014-09-11 15:53] stonier commented on #163
Good catch austin.

I like this option. @jihoonl can you hit this one on the head for us and give it some road miles on the waiterbots?

[2014-09-15 23:30] stonier commented on #163
Shifted to turtlebot_apps in https://github.com/turtlebot/turtlebot_apps/commit/3ea2c306120774e8ed7e69e4e3fce3eca9f5426e

[2014-09-15 23:31] #163 closed, assigned to stonier

[2014-09-17 01:26] jihoonl opened #164 "move turtlebot parameters from turltebot_bringup to turtlebot_description"
So we can share parameters between gazebo and real robot without full dependency tree.

[2014-09-25 08:44] pedropgusmao opened #165 "Kobuki minimal.launch without robot_pose_ekf"
Hello,
I have a clearpath turtlebot 2 which came with groovy and launched robot_pose_ekf from kobuki/_minimal.launch
Unfortunately after moving the code to a new laptop, I have seen that the kobuki/minimal.launch from ros-hydro does not come with the launch node robot_pose_ekf.

I know that I can manually insert such node, but I would like to know if it wouldn't be better to have it already in the

[2014-09-25 09:05] pedropgusmao opened #166 "include kobuki.minimal install"
Hello there,

shouldn't  kobuki/minimal.install just include the https://github.com/yujinrobot/kobuki/blob/indigo/kobuki_node/launch/minimal.launch ?

Thanks,
Pedro

[2014-09-29 09:37] stonier commented on #166
Yeah, it probably could, but at the end of the day we have always had a few minor variations between kobuki's setup and turtlebot's setup. Note that they both use the same `kobuki_node/param/base.yaml` as default settings and that is probably sufficient for mollifying the streamliners who want to eliminate all redundancies :neckbeard:.

[2014-10-22 08:24] nicolas-navarro-guerrero opened #167 "turtlebot urdf error with Gazebo tags, v-rep import"
Hi there,

I want to import the urdf model of turtlebot to the v-rep simulator.
The conversion from xacro to urdf works and no error were reported by the check_urdf command, however, a few error occur during import. Specifically with the sensors, see excerpt below.

---

---

Additionally, there are a few error with joints, links and meshes, the urdf tries to find the files under the turtlebot_des

[2014-10-22 08:38] nicolas-navarro-guerrero commented on #167
For the second errors listed above, indeed, just linking the folder kobuki_description from turtlebot_description solves all the ".dae" type 5 errors

Of course the the 6 Gazebo tag errors remain.

[2014-10-28 02:23] mkdmkk opened #168 "Installation"
For installing Turtlebot, I followed the tutorial, http://wiki.ros.org/turtlebot/Tutorials/indigo/Installation.

When I try to run the command, rosdep install --from-paths src -i -y, the following error message is printed.

[2014-10-28 02:34] jihoonl commented on #168
It was because of missing dependency on [world canvas framework](https://github.com/corot/world_canvas). It is not patched with the following commit https://github.com/robotics-in-concert/rocon/commit/d707509d16feda88d5ac1f9e1a9e77665ba07c71

It should work for now. Please re-open it if it still causes any other problem.

[2014-10-28 02:34] #168 closed, assigned to nobody

[2014-10-28 04:00] mkdmkk opened #169 "Another installation problem"
In the installation tutorial, there are three key steps; installing recon, kabuki, and turtlebot.
The first two steps were done. But, I failed to do the third step.

[2014-10-28 05:57] jihoonl commented on #169
`turtlebot_stdr` dependency has been resolved with referenced issue.

And please ignore create gazebo dependencies. `create gazebo plugin` isn't working now and it should not be an issue if you are using real robot.

[2014-10-29 03:40] bit-pirate commented on #168
Probably should say: It is _now_ patched with the following commit.

:smile:

[2014-11-04 08:49] stonier commented on #169
Should disable these from `package.xml` files and add `CATKIN_IGNORE` instead of having this loose end which is continually raised.

[2014-11-04 09:40] stonier opened #170 "Indigo Upgrade Meta Issue II"
Moving to staggered short term releases so we can get something out there on indigo sooner rather than later despite time constraints. The following is a todo:

**Short Term Tasks**
- [x] Disable create from the dependency chain (see below)
- [x] Disable map_store from the dependency chain (see below)[https://github.com/turtlebot/turtlebot_apps/issues/126]
- [x] Move `turtlebot_teleop` scripts to

[2014-11-04 09:40] stonier commented on #139
Closing this, continuing in #170.

[2014-11-04 09:40] #139 closed, assigned to nobody

[2014-11-04 09:58] stonier commented on #170
@jihoonl can you start an issue for the kinect problem with what you currently know.

[2014-11-07 07:34] jihoonl commented on #169
It is disabled in turtlebot_simulator, and catkin_ignore is added in create_gazebo_plugins.

[2014-11-07 07:34] #169 closed, assigned to nobody

[2014-11-07 07:39] jihoonl opened #171 "Kinect incompatibility with ubuntu 14.04"
Recently issue. #170

Kinect is not working with official turtlebot laptop, asus x200ca.

[2014-11-07 11:16] bit-pirate commented on #171
@AlexReimann found out that it's working fine on our ASUS X201E laptop running Kubuntu 14.04.

@corot reported something similar. The Kinect is working fine on his Kubuntu laptop.

[2014-11-07 11:19] bit-pirate commented on #169
But then please make an issue for each disabled dependencies. Otherwise we probably will overlook some, when we do the full release and end up with broken dependencies.

[2014-11-07 11:19] bit-pirate commented on #169
E.g. here: https://github.com/turtlebot/turtlebot_simulator/commit/ac530c1ad2ee735b80683378ebcf8e8028263b8e#commitcomment-8474551

[2014-11-07 11:40] AlexReimann commented on #171
Also works on an older ASUS laptop with Ubuntu 14.04. I even updated to the same kernel version (nothing else changed) and it still works.
One odd thing I found out is, that the Kinect seems to get registered with less rights on the asus x200ca (no write rights for others).

[2014-11-07 11:50] bit-pirate commented on #171
@corot which laptops are you running in your lab?

[2014-11-07 11:55] corot commented on #171
ASUS F201E

2014-11-07 12:50 GMT+01:00 Marcus Liebhardt notifications@github.com:

[2014-11-08 05:30] mkdmkk commented on #169
I have tried to re-install the ROCON.
When I entered the command, wstool init -j5 src https://raw.githubusercontent.com/robotics-in-concert/rocon_demos/turtlebot_concert/concert.rosinstall, the following errors popped up:

Exception caught during install: Error processing 'turtlebot_apps' : [turtlebot_apps] Checkout of https://github.com/turtlebot/turtlebot_apps.git version sim_param into /home/mk

[2014-11-10 02:52] bit-pirate commented on #171
Are you sure? Is it not "ASUS X201E"?

The Kinect is working for us on the X201Es.

PS: F201E and X201E are supposed to be the same: http://techonbudget.com/laptops/asus-x201e-f201e-cheap-mini-laptop-overview

[2014-11-10 04:15] AlexReimann commented on #171
I run an update on one of the old laptops with a not so recent trusty version (Kernel version 3-13.0-32). After updating kinect doesn't work anymore.

Update log:
http://pastebin.com/t6MJ3Cp5
Edit: Downgraded the kernel, doesn't seem to be it but something else (dbus?)

[2014-11-10 08:03] jihoonl commented on #169
`sim_param` branch and gazebo_concert branch has been merged into upstream `indigo`.

The following commits should have resolved.

https://github.com/robotics-in-concert/rocon_demos/commit/58e3b4184ad4ff59dd4a98ce81b7be77a5f190a6
https://github.com/robotics-in-concert/rocon_demos/commit/9bc62809762f029230ed148ae8ff97d1ce3e2903

[2014-11-11 05:46] stonier commented on #169
@mkdmkk  Why are you using the `rocon_demos` rosinstaller? That one is the unofficial one we use internally and not officially supported continuously.

The rosinstaller we always maintain is at https://raw.github.com/robotics-in-concert/rocon/indigo/rocon.rosinstall. i.e. the same one on the [turtlebot wiki installation instructions](http://wiki.ros.org/turtlebot/Tutorials/indigo/Installation).

[2014-11-12 07:03] AlexReimann commented on #171
I did some searching if anybody else has recent problems with ubuntu 14.04 and kinect / webcams / usb but couldn't dig anything up.
I checked if the problem happens only with 14.04.1, but the downloadable 14.04 version from the Ubuntu website already has the problem.

One thing I saw is that the permissions of the kinect in /dev/bus/usb/ changed from rw- rw- rw- to rw- rw- r--

It is not a ros pro

[2014-11-12 09:20] bit-pirate commented on #171
@tfoote are you aware of this issue? I guess, this would have impact on a lot of ROS users.

@AlexReimann does the Kinect work, when you change the permissions manually?

[2014-11-12 09:35] AlexReimann commented on #171
Nope.
On Nov 12, 2014 6:20 PM, "Marcus Liebhardt" notifications@github.com
wrote:

[2014-11-12 20:18] tfoote commented on #171
I haven't seen another report of this. It sounds like it should be pushed upstream probably to the debian/ubuntu packaging. Can someone confirm changing the permissions make it work?

[2014-11-14 05:52] trainman419 commented on #170
Is there anything required for the create besides doing some testing and a release? I have one around here somewhere that I can dig up and test on, and I think that's better than leaving it unsupported.

I don't see any blocking issues open on the turtlebot_create repo, and I've verified that the hydro and indigo branches build on Indigo.

[2014-11-18 06:31] trainman419 commented on #170
turtlebot_msgs released into Indigo: https://github.com/ros/rosdistro/pull/6299

[2014-11-18 07:06] trainman419 commented on #170
I fired up my official Willow Garage turtlebot and verified that it works reasonably well under Indigo, with a few patches: https://github.com/turtlebot/turtlebot_create/pull/23

[2014-11-18 07:47] trainman419 commented on #171
I'm seeing the same thing on an older Asus 1215N laptop; my Kinect is present in lsusb, but the openni_node and the Sample-NiSimpleViewer can't find it.

The freenect driver works on the same laptop, in the same scenario (permissions, etc).

[2014-11-18 07:48] jihoonl commented on #170
FYI for turtlebot_msg https://github.com/turtlebot/turtlebot_msgs/issues/2

[2014-11-18 07:49] jihoonl commented on #171
@trainman419 you meant freenect_driver works with permissions change?

[2014-11-18 07:57] trainman419 commented on #171
@jihoonl yes; the freenect driver works if I set the permissions properly, while the openni driver doesn't work regardless of how I set the device permissions.

[2014-11-18 08:23] AlexReimann commented on #171
Just found out the same as @trainman419
Also on our "old" Asus X201E where kinect + openni + ros indigo + ubuntu 14.04 is working, I found that the permissions get set through a 40-libopenni-sensor-primesens0.rules udev rule file in /lib/udev/rules.d/, which has an entry tagged avin mod. No idea where that comes from though.

The ros-indigo-openni-camera changed since the installation was done on

[2014-11-18 08:26] trainman419 commented on #171
I have the following versions of openni-related packages:

[code]

[code]

[2014-11-18 08:40] AlexReimann commented on #171
ros-indigo-openni-camera was version `1.9.2-1trusty-20140905-011` on the working laptop, others same as above

[2014-11-18 09:00] trainman419 commented on #171
This question is likely the source of the avin patch: http://answers.ros.org/question/196035/no-devices-connected-waiting-for-devices-to-be-connected/

[2014-11-18 09:23] trainman419 commented on #171
Also of note, it looks like the OpenNI drivers were pulled from Jochen Sprickerhof's PPA prior to Trusty; and in Trusty the openni debs are now included in the Ubuntu universe repository: http://packages.ubuntu.com/source/trusty/openni

I've confirmed this by installing the saucy versions of the openni debs from https://launchpad.net/~v-launchpad-jochen-sprickerhof-de/+archive/ubuntu/pcl . They wo

[2014-11-18 09:33] trainman419 commented on #170
I've released the Hydro version of map_store into indigo: https://github.com/ros/rosdistro/pull/6301

[2014-11-18 09:36] bit-pirate commented on #171
What's the difference in terms of code among those two release sources? Does the one in the Ubuntu universe repository not contain the "avin mod"?

[2014-11-19 01:28] stonier commented on #170
Great austin, thanks. Only thing that probably remains for the create is to update the create gazebo plugin. There were some depracated code we had to update for kobuki gazebo as well.

[2014-11-19 05:27] trainman419 commented on #171
I don't have a full listing of the differences between Jochen's version and the official Ubuntu version.

Given that Jochen's version includes patches to the udev rules to add support for the Kinect, I suspect it has patches to other parts of the code as well.

Someone who is more invested in proper openni support should probably file a bug about this on the upstream ubuntu bug tracker.

[2014-11-19 06:24] trainman419 commented on #170
The relevant issue for the create gazebo plugin is: https://github.com/turtlebot/turtlebot_create_desktop/issues/7 . I'll take a look at it, but I can't make any promises. I haven't spent much time working with gazebo.

[2014-11-19 09:46] trainman419 commented on #170
I think I fixed the create gazebo plugin: https://github.com/turtlebot/turtlebot_create_desktop/pull/16

[2014-11-20 09:54] rdpeake commented on #141
https://github.com/turtlebot/turtlebot/blob/hydro-devel/linux_hardware/scripts/laptop_battery.py#L105 seems to cause this error, i worked around it by removing the 'excpetions.' from the line. This also indicates that you need to alter the default battery path (through the ~acpi_path parameter)

[2014-11-22 07:37] jihoonl commented on #170
Things to release for turtlebot_apps
- [yujin_ocs](https//github.com/yujinrobot/yujin_ocs)
- [world_canvas](https://github.com/corot/world_canvas) (for turtlebot_rapps) and replace map_store.

I am preparing to release them in nextweek.

Other things, should be fine to be released.

[2014-11-30 02:30] trainman419 commented on #170
Any progress on this? I'd really like to get these released so that I can do ARM builds.

[2014-11-30 07:44] jihoonl commented on #170
I just created a PR to release turtlebot_create. Once it is merged, I will release turtlebot and turtlebot_create_desktop.

[2014-12-05 14:26] corot opened #172 "Provide mass and inertia real values for 3D camera, stacks and poles"
Now, the TB looks too much "light" in Gazebo.

I have no idea how to estimate the inertia, really. That's why I mark this also as a question.

Incidentally, I also noticed that the "virtual" links (optical axes, etc.) have an <inertial> tag with dummy low values. I think we can safely remove these tags and keep just one for the whole camera.

[2014-12-06 04:40] stonier commented on #172
Poles should be given by the matrix for **Solid cylinder of radius r, height h and mass m** provided [here](http://en.wikipedia.org/wiki/List_of_moments_of_inertia).

You could also roughly model the stacks using the same equation and camera by a solid cuboid.

If you get time, give that a shot and see how it looks.

[2014-12-06 04:42] stonier commented on #172
Note, the exact xacro variables are extracted from those matrices from the upper triangle only (it's symmetrical):

[code]

[2014-12-14 23:43] trainman419 commented on #170
Any progress on this? I'm still waiting for the release of turtlebot_apps into Indigo.

[2014-12-15 00:33] jihoonl commented on #170
Quite busy to catch up on turtlebot_apps issues due to the other project deadlines... I plan to follow up remaining turtleobt issues from next week. Remaining jobs before release are the following:
- Turtlebot apps(teleop, map_nav, make_a_map) launching with QT remocon
- and hopefully ros-teleop integration

[2014-12-23 07:23] jihoonl opened #174 "use env for rapp whitelist and black list"

[2014-12-28 07:53] trainman419 commented on #170
I'm under contract with Qualcomm to have this released into Indigo by the end of November. I'm almost a month past that deadline now.

Indigo has already been public for at least 6 months now. There are a lot of users waiting for these packages to be released into Indigo.

The Jade release is only a few months away at this point; the OSRF team is already starting to set up the build farm for Jade.

[2014-12-29 00:38] jihoonl opened #176 "install interaction directory"
CMake rule is missing.

[2014-12-29 00:41] #176 closed, assigned to nobody

[2014-12-29 02:06] stonier commented on #172
Pull request in.

[2014-12-29 02:06] #172 closed, assigned to stonier

[2014-12-29 02:23] tfoote commented on #170
I agree it would be great to get these out. i just brought up a TurtleBot and found that I didn't have turtlebot teleop apps. Also the released version seems to not have the optenv fix released as well for minimal.launch

[2014-12-29 04:08] stonier commented on #170
Picking up the bits and pieces here - I'd hoped Jihoon would have had them all out by now, but for various reasons it didn't happen.

@trainman419 I would have been fine with you making beta releases of everything back in November, we were unaware of your deadline though.

Which gets to the point - let's wrap things up with some certainty instead of vague promises. @jihoonl has this week and next

[2014-12-29 04:10] stonier commented on #170
@trainman419 you have release rights on https://github.com/turtlebot-release so feel free to dive in there.

[2014-12-29 04:28] jihoonl opened #177 "rename ROBOT_NAME and ROBOT_TYPE"
Use TURTLEBOT as it's prefix.
- ROBOT_NAME -> TURTLEBOT_NAME
- ROBOT_TYPE -> TURTLEBOT_TYPE

[2014-12-29 04:31] #177 closed, assigned to nobody

[2014-12-29 04:39] trainman419 commented on #170
@stonier admin rights on the release repos don't allow me to release the indigo-devel branches of things; for that, I need commit access to the repository itself so that I can bump the version numbers and add tags ( ie catkin_prepare_release ).

[2014-12-29 05:38] stonier commented on #170
Ah, of course...added you to the team of core developers.

[2014-12-29 06:39] mikeferguson commented on #177
Are you sure you really want to do this? ROBOT, ROBOT_NAME, and ROBOT_TYPE are used on other robots -- for instance on PR2. I also thought long-term it was intended that these variables might be usable for things like capabilities or concert configuration (and thus, leaving them ROBOT-agnostic, makes them useful)

[2014-12-29 06:49] stonier commented on #177
I'm fine either way. I can understand the logic of having robot/capabilities/concert generic variables, but I can also see that as a _new_ user, having them all as `TURTLEBOT_xxx` does make it very easy to discover what environment variables are set/configurable. @jihoonl, what is your opinion?

[2014-12-29 07:16] jihoonl commented on #177
I think both @mikeferguson and @stonier have valid points.

I lean to @mikeferguson opinion though. I think the better place for these variables are near `rocon_app_manager` because `ROBOT_NAME`, `ROBOT_TYPE`, `CAPABILITIES`, `INTERACTIONS`, and `RAPPS` are rapp manager configurations which can be independent from hardware related configurations.

I also agree that TURTLEBOT prefix makes turtlebot

[2014-12-29 16:50] tfoote commented on #177
That looks like a good compromise.

ROCON things stay generic and TurtleBot specific ones prefixed with
TURTLEBOT

[2014-12-30 00:19] jihoonl opened #180 "use ros_teleop for turtlebot_teleop"
plan to merge turtlebot_teleop and ros_teleop at some point.

[2014-12-30 00:21] jihoonl opened #181 "caps_rapp_upgrade branch"
@bit-pirate  do we still need this branch?

[2014-12-30 00:23] jihoonl opened #182 "add a note on turtlebot_teleop"
To inform that turtlebot_teleop package will move into ros_teleop later.

[2014-12-30 01:17] #182 closed, assigned to nobody

[2014-12-30 01:43] jihoonl commented on #177
Here is a proposal to create env-hook in `rocon_app_manager`. Please leave your opinion. I plan to make it happen today or tomorrow. https://github.com/robotics-in-concert/rocon_app_platform/issues/267

[2014-12-30 01:52] jihoonl opened #183 "update rosinstall files"
to use turtlebot_interactions instead of turtlebot_viz.

[2014-12-30 01:54] jihoonl commented on #183
@bit-pirate do we still need [turtlebot_capabilities.rosinstall](https://github.com/turtlebot/turtlebot/blob/indigo/turtlebot_capabilities.rosinstall)?

[2014-12-30 01:59] jihoonl commented on #174
https://github.com/turtlebot/turtlebot/issues/177

[2014-12-30 08:28] jihoonl commented on #170
I made an alpha release today. I will test all debs and make a patch tomorrow if necessary.

[2015-01-05 05:26] jihoonl opened #184 "add turtlebot_capabilities and kobuki_capabilities as run_depend of turtlebot_bringup"

[2015-01-05 05:27] jihoonl commented on #184
https://github.com/turtlebot/turtlebot/blob/indigo/turtlebot_bringup/launch/minimal.launch#L44

[2015-01-05 05:30] #184 closed, assigned to nobody

[2015-01-05 08:46] jihoonl commented on #170
I have released all turtlebot debs and start to tackle remaining issues soon.

[2015-01-06 02:42] jihoonl commented on #171
I have found that kinect rule has been deleted from libopenni-sensor-primesense on purpose.

[Log of libopenni-sensor-primesense](http://anonscm.debian.org/cgit/pkg-multimedia/openni-sensor-primesense.git/log)
-   Fix package description, as this is PrimeSense only now Jochen Sprickerhof  2013-11-25

http://anonscm.debian.org/cgit/pkg-multimedia/openni-sensor-primesense.git/diff/?id=9d10444947d7f1

[2015-01-06 02:48] jihoonl commented on #171
`libopenni-sensor-primese0` conflicts with `libopenni-sensor-pointcloud0`

and `libopenni-sensor-pointcloud0` includes avin mod.

[2015-01-06 02:49] jihoonl commented on #171
So I think this issue would be resolved if we can change  [openni_camera](https://github.com/ros-drivers/openni_camera/blob/indigo-devel/package.xml) dependency from `libopenni_sensor_primesense-dev`to `libopenni_sensor_pointclouds-dev`

[2015-01-06 05:43] jihoonl commented on #171
Well.. replacing lib does not make things better... it still cannot find the device.

[2015-01-06 07:15] jihoonl commented on #171
Confirmed facts so far.
- `openni_camera` does not work with kinect anymore.
  - `openni_camera` depends on `libopenni-sensor-primesense-dev` and maintainer intentionally removed udev rule for kinect in `libopenni-sensor-primesense0`. See [the comments above](https://github.com/turtlebot/turtlebot/issues/171#issuecomment-68818481).
- `freenect_launch` works only if either one of condition is satis

[2015-01-06 07:21] jihoonl commented on #171
@trainman419 @bit-pirate @stonier @AlexReimann @tfoote

What would be the good way to solve this issue?  One approach we can do is..
1. Fix `libfreenect` dependency, and use openni_launch(or openni2_launch) for asus, and for kinect. and use `TURTLEBOT_3D_SENSOR` env to choose either openni and freenect.

https://github.com/turtlebot/turtlebot/blob/indigo/turtlebot_bringup/launch/minimal.launch#L7

[2015-01-06 23:43] jihoonl opened #185 "remove circular dependency between turtlebot_bringup and turtlebot_capabilities"
`turtlebot_capabilities` and `turtlebot_bringup` are depending on each other. It causes build farm error.

[2015-01-06 23:44] #185 closed, assigned to nobody

[2015-01-07 17:20] spragunr opened #186 "Errors in minimal.launch using Linux Mint."
I'm trying out the turtlebot packages currently in shadow-fixed, and it looks like the app_manager(?) is hard-coded to expect Ubuntu.  I've used Turtlebot with Linux Mint since Fuerte, and I've never had any trouble before.  The relevant packages are the same.

If I force packages.linux_distribution() to return ('Ubuntu', '14.04', 'Trusty'), the problem goes away, and I can launch and telop the Tu

[2015-01-07 17:23] spragunr opened #187 "rocon_interactions dependency for minimal.launch"
minimal.launch currenlty fails unless ros-indigo-rocon-interactions has been installed manually.

[2015-01-08 00:46] jihoonl commented on #186
`mint` was not listed in rocon_uri rule. Now it should have been fixed by

https://github.com/robotics-in-concert/rocon_tools/commit/bdddc84b58e550b0bf4536c11bc5e807ae743fed.

Please reopen if it still happens.

[2015-01-08 00:48] jihoonl commented on #187
ah it was missing dependency in [rocon_app_manager](https://github.com/robotics-in-concert/rocon_app_platform/tree/indigo/rocon_app_manager)

It has been fixed by https://github.com/robotics-in-concert/rocon_app_platform/commit/4bb5907063852e7fbf98279be866765ce9fc6d3c

[2015-01-08 00:48] #187 closed, assigned to nobody

[2015-01-08 02:04] spragunr commented on #186
I think it should be "linuxmint" not "mint":

[code]

[2015-01-08 04:53] jihoonl commented on #186
My bad. The logic in [rocon_app_utilities/DependencyChecker](https://github.com/robotics-in-concert/rocon_app_platform/blob/indigo/rocon_app_utilities/src/rocon_app_utilities/dependencies.py#L48-L57) should be fixed.

[2015-01-08 06:49] jihoonl commented on #186
@spragunr Can you tell what you get from [rospkg.os_detect.OsDetect().get_codename()](https://github.com/ros-infrastructure/rospkg/blob/master/src/rospkg/os_detect.py#L103-L127)?

also get_version(), and get_name()?

[2015-01-08 06:58] jihoonl commented on #186
The problem is that [rocon_app_utilities.DependencyChecker](https://github.com/robotics-in-concert/rocon_app_platform/blob/indigo/rocon_app_utilities/src/rocon_app_utilities/dependencies.py#L48-L60) uses a custom way to detect operating system. I think it is supposed to use rospkg.os_detect module.

Ref : https://github.com/ros-infrastructure/rosdep/blob/master/src/rosdep2/lookup.py#L86

[2015-01-08 07:30] jihoonl commented on #186
@spragunr, I have patched dependency check with https://github.com/robotics-in-concert/rocon_app_platform/issues/269.

Could you confirm that mint works with source version? Then I will release the patch.

[2015-01-08 08:28] jihoonl opened #188 "update bugtracker and repository url for turtlebot_teleop"
it is pointing to turtlebot_apps

[2015-01-08 08:28] #188 closed, assigned to nobody

[2015-01-08 16:54] spragunr commented on #186
[code]

If you are going to store these in a config file somewhere, you should also include:

[code]

 Both qiana and rebecca are derived from Ubuntu Trusty.

[2015-01-08 17:16] spragunr commented on #186
It doesn't look like the changes to  robotics-in-concert/rocon_app_platform solve the problem.  I get the same error message with the source version:

[code]

What does the rocon app manager actually do?  The Turtlebot seems to function correctly even though this node dies.  As a workaround, can I just ignore it?   If that is the case, then I think that content should be removed from minimal.launc

[2015-01-09 02:13] stonier commented on #186
Does rosdep actually work on Mint? That seems to be the core of the problem here. If that's true, we can certainly add an exception for KeyErrors here to disable installation functionality in the rocon app manager.

| What does the rocon app manager actually do?

Previously you had to _magically know_ what launchers are required to launch what activity, which can be confusing as there are often ma

[2015-01-09 07:31] jihoonl commented on #186
I made a patch to disable rapp installer in `rocon_app_manager`. so you can use turtlebot without any error in app_manager.

Could you test with [installer_disable branch](https://github.com/robotics-in-concert/rocon_app_platform/tree/installer_disable) to see if it works in mint?

It would only give you a warning that auto rapp installation is disabled.

[2015-01-09 09:24] jihoonl commented on #171
I have created separate launcher for kinect and asus pro which are configuable with TURTLEBOT_3DSENSOR.

https://github.com/turtlebot/turtlebot/blob/3dsensor_config/turtlebot_bringup/launch/3dsensor.launch

[2015-01-09 13:41] spragunr commented on #186
@jihoonl  This branch does prevent the crash.  There are still a large number of warnings of the form:

[code]

It's unfortunate, but a good-enough workaround for now.  If the underlying issue is a lack of mint support for rosdep, I suppose that's the correct place to address this.  Thanks for working on it.

[2015-01-09 14:26] spragunr commented on #186
@stonier Currently rosdep only works on Mint if you explicitly override the os detection with the --os flag:

[code]

Thanks for the app-manager clarification. I definitely see the value in what you are describing.

From an educational point of view, it's helpful to be able to reveal levels of abstraction incrementally.   Even if the app manager doesn't get in the way from a functional point of vi

[2015-01-09 19:21] spragunr commented on #171
I checked out this branch to test, and was not able to make the freenect driver work with my Kinect.   The following message is repeated indefinitely:

[code]

The result is the same whether I use the updated 3dsensor.launch or launch from the freenect_launch package.

If I apt-get install libfreenect-demos from the ubuntu repositories, then I can visualize data from the kinect using the freenect-

[2015-01-10 07:10] stonier commented on #186
I agree, what I would like is tutorials start by showing how you build up the layers for a task, i.e. shutdown all currently running launchers and start with nothing running, then base.launch, then robot.launch, to the point where you actually have the robot performing a task. At this point its starting to look complicated, so switch the tutorials to starting the rapp manager and simply _start tas

[2015-01-10 07:17] stonier commented on #186
I added `rebecca` to the [rocon uri rules](https://github.com/robotics-in-concert/rocon_tools/blob/indigo/rocon_uri/src/rocon_uri/rules/rules.yaml). As the error message indicates, you can edit/pull request that for mint specifics in future.

[2015-01-10 07:22] stonier commented on #171
Had a hangout with Piyush yesterday (maintainer). The drivers aren't all in place for indigo yet and there have been issues with udev rules moving around. System version is really old, ros-indigo version is just the hydro version re-released (also old and probably has problems) and some testing going on around a new ros-indigo release of a more up to date 0.5.1 version.

We're going to try and get

[2015-01-14 04:38] sosentos commented on #186
We are seeing a similar issue with linaro.  We are trying to get an ARM board working with the Turtlebot and are currently using the current deb packages.

1)  We installed the turtlebot packages from debs.  We then tried roslaunch turtlebot_bringup minimal.launch and see the following error:
rospkg.os_detect.OsNotDetected: Could not detect OS, tried ['windows', 'ubuntu', 'rhel', 'qnx', 'osx', 'op

[2015-01-14 05:05] stonier commented on #186
1. Can you paste the exact output you get from 1)? Is it an exception that is getting raised (in which case the backtrace is good) or just information going to stdout?
2. The KeyError should not be caught and gracefully handled when Jihoon gets a next release out.

[2015-01-14 05:31] sosentos commented on #186
I can do it tomorrow when I have the machine in front of me.

If I remember right an exception came from line 488 of os_detect.py in rospkg.  I believe it was called from line 518 of the same file.

[2015-01-14 05:31] jihoonl commented on #186
The new version(0.7.6) of rocon_app_manager is now available in shadow-fixed. @sosentos could you check it still gives you an error?

[2015-01-14 05:34] jihoonl commented on #186
https://github.com/robotics-in-concert/rocon_app_platform/pull/270 this PR should prevent KeyError and disable auto rapp installer.

[2015-01-14 05:50] stonier commented on #186
@jihoonl looks like we need to catch `rospkg.os_detect.OsNotDetected`

@sosentos if you can get us a backtrace, we'll know exactly where to place the catcher.

[2015-01-14 18:38] sosentos commented on #186
Here is the full traceback

[code]

[2015-01-15 00:41] jihoonl commented on #186
It looks like we should update [a list of OS in rospkg.os_detect](https://github.com/ros-infrastructure/rospkg/blob/master/src/rospkg/os_detect.py#L531-L561) to detect `linaro` as supported os.

Can you provide what you get from the following command?

[code]

It should give us what to add in the list.

[2015-01-15 00:44] sosentos commented on #186
('Linaro', '14.04', 'trusty')

[2015-01-15 00:50] jihoonl commented on #186
I have created PR to update OS list in rospkg. Once it goes through linaro should be fine.

[2015-01-15 00:52] jihoonl commented on #186
Hi @spragunr,

you may want to chase up https://github.com/ros-infrastructure/rospkg/issues/25 if you need a proper mint support in ROS.

[2015-01-18 22:05] corb555 commented on #171
Not sure if this helps - I'm using Kinect with 14.04 without problems on the setup below.  I did have to install the SensorKinect driver for this to work.

Mini-ITX motherboard
ROS Indigo
Turtlebot_ARM stack
ROS-Indigo-OpenNI-Launch
https://github.com/avin2/SensorKinect

[2015-02-11 12:15] stonier opened #191 "Documentation migration guide for hydro->indigo"
Add stuff here which is different to hydro and document this:
- [x] 3d sensor
- [x] qt interactions (rocon_remocon)
- [x] android interactions
- ~~World Canvas~~
- ~~Concert client version bringup~~

[2015-02-11 22:31] dirk-thomas opened #192 "exported libary doesn't exist"
Where is the library `turtlebot_teleop` supposed to come from (https://github.com/turtlebot/turtlebot/blob/fee9733124358c011ed6bd0a711e73da1500d64c/turtlebot_teleop/CMakeLists.txt#L11)?

I would guess it needs to be removed from the catkin_package() call.

[2015-02-12 00:14] #192 closed, assigned to nobody

[2015-02-12 00:16] jihoonl commented on #192
Removed from catkin_package call.

[2015-02-12 01:13] bit-pirate commented on #181
Please keep it open until I get around check the diff.

[2015-02-12 17:03] jack-oquin opened #193 "linux_hardware: will support continue on Indigo and Jade?"
This package looks useful, but I see no release yet for Indigo.

Is continuing support intended?

Or, is it deprecated? If so, what alternatives would you recommend?

[2015-02-13 00:14] jihoonl commented on #193
It has been renamed and migrated to https://github.com/ros-drivers/linux_peripheral_interfaces

[2015-02-13 00:15] jihoonl commented on #193
Ref: https://github.com/ros-drivers/linux_peripheral_interfaces/issues/1

[2015-02-13 00:51] jack-oquin commented on #193
OK, thanks for explaining it. I'll use linux_peripheral_interfaces, instead.

[2015-02-13 00:51] #193 closed, assigned to nobody

[2015-02-26 00:41] jihoonl commented on #191
World canvas?

[2015-03-11 07:05] jihoonl opened #196 "add ps3 joystick interactions"
to start ps3 joystick driver from pc

[2015-03-11 07:06] #196 closed, assigned to nobody

[2015-03-16 05:07] jihoonl opened #197 "Remaining turtleobt tutorial works"
![img_1670](https://cloud.githubusercontent.com/assets/1556736/6660871/cfb9faa2-cbe5-11e4-9c89-c212bdf2ea9f.JPG)

[2015-03-16 05:10] jihoonl commented on #197
- [x] Fix chirp meow -> moo
- [x] fix `no preffered rapp` warning
- [x] interacting with the robot tutorial
- [x] customising the turtle tutorial
- [x] create rapp tutorial
- [x] create interaction tutorial
- [x] overhaul bringup tutorials
- [x] flag a multi robot tutorial
- [x] stage/gazebo tutorial link
- [x] check 3d visualization for depth image/registration - explain `either` works.
- [x] amc

[2015-03-16 05:43] jihoonl opened #198 "replace FBX collada exported model to open collada model"
To fix https://github.com/turtlebot/turtlebot_simulator/issues/45

[2015-03-16 05:44] #198 closed, assigned to nobody

[2015-03-16 17:13] stonier opened #199 "Turtlebot concert whitelist specified incorrectly"
Sending a string, not a list in `concert_client.launch` for `concert_whitelist` arg.

[2015-03-16 17:19] #199 closed, assigned to stonier

[2015-03-17 08:27] stonier commented on #197
Return to links should be:

[code]

not

[code]

[2015-03-17 09:38] stonier commented on #177
I have made an dictatorial decision to have them all as simply `TURTLEBOT_XXX` for now. :neckbeard: That means they can be pre-loaded by env-hooks (easy for users to find) and they don't conflict with anybody else.

Main reason though is this was the shortest path to making sure we get an indigo release out very soon without having to deal with funny bugs here and there (95% of variables had alrea

[2015-03-20 02:19] stonier commented on #197
@jihoonl can you update with current status?

[2015-03-20 02:33] jihoonl commented on #197
Done jobs are checked.

[2015-03-20 06:09] jihoonl commented on #197
Flag a multi robot tutorial? What is this?

[2015-03-20 06:19] stonier commented on #197
Empty page, with a TODO and listed on the main tutorials page, and we come back after the rocon documentation (like the android tutorial).

[2015-03-23 06:11] jihoonl commented on #54
Is it still valid issue?

[2015-03-23 06:13] jihoonl commented on #171
Kinect with freenect driver seems happy ever after. Closing the issue.

[2015-03-23 06:13] #171 closed, assigned to nobody

[2015-03-24 00:09] jihoonl opened #203 "Later Release Task"
This is follow-up issue of #170 to tackle Later Release Tasks.
- [ ] Turtlebot teleop code switch to [ros-teleop](https://github.com/ros-teleop) implementations(https://github.com/turtlebot/turtlebot/issues/180)
- [ ] Capabilities on Turtlebot
- [x] Drop in world canvas in place of the map_store ready for android app support.
- [x] Android apps (once rosjava on indigo is supported and world canvas

[2015-03-24 00:10] jihoonl commented on #170
Short term tasks are cleared . the later release tasks will be tackled with new issue #203. Closing this.

[2015-03-24 00:10] #170 closed, assigned to nobody

[2015-03-24 00:10] #174 closed, assigned to nobody

[2015-03-24 00:11] jihoonl commented on #158
The referenced commit closes this issue.

[2015-03-24 00:11] #158 closed, assigned to nobody

[2015-03-24 00:12] jihoonl commented on #54
It has been moved to ros-drivers repository.

https://github.com/ros-drivers/linux_peripheral_interfaces/issues/1

[2015-03-24 00:12] #54 closed, assigned to nobody

[2015-03-24 00:13] jihoonl commented on #88
Is this still valid issue?

[2015-03-24 00:13] jihoonl commented on #90
What messages should be common between kobuki and create?

[2015-03-24 00:19] jihoonl opened #204 "develop multi turtlebot example"
- [x] development in [turtlebot_concert](https://github.com/turtlebot/turtlebot_concert)
- [x] Documentation

[2015-03-24 00:22] jihoonl commented on #191
- Concert client version bringup will be followed up by #204.
- World Canvas documentation will be followed up by https://github.com/corot/world_canvas/issues/47

[2015-03-24 00:22] #191 closed, assigned to nobody

[2015-03-24 00:24] jihoonl commented on #103
https://github.com/turtlebot/turtlebot/commit/3e32933c829e308600707a9f971334d13d1cbe19 should have resolved this issue.

[2015-03-24 00:24] #103 closed, assigned to corot

[2015-03-24 00:26] jihoonl commented on #42
The new mesh for default asus setup has mount. This should be no problem as of now.

[2015-03-24 00:26] #42 closed, assigned to nobody

[2015-03-24 00:26] jihoonl commented on #42
![turtlebot](https://cloud.githubusercontent.com/assets/1556736/6321785/f57fb0f4-bb48-11e4-8a43-fd626679cae5.png)

[2015-03-24 00:27] jihoonl commented on #186
This should have been resolved. Please reopen if necessary.

[2015-03-24 00:27] #186 closed, assigned to nobody

[2015-03-24 00:36] #149 closed, assigned to nobody

[2015-03-24 00:38] jihoonl commented on #108
https://github.com/rosjava/android_remocons/issues/36

[2015-03-24 00:38] #108 closed, assigned to nobody

[2015-03-24 00:38] jihoonl commented on #183
@bit-pirate  bump.

[2015-03-24 01:20] jihoonl commented on #115
These variables are configured via env hook.

https://github.com/turtlebot/turtlebot/commit/1d8989d9521c94a1afefeda4ce3f9d1934f45818

[2015-03-24 01:20] #115 closed, assigned to stonier

[2015-03-24 01:21] jihoonl commented on #160
It is probably out-dated issue. Please reopen if necessary.

[2015-03-24 01:21] #160 closed, assigned to nobody

[2015-03-24 01:30] #166 closed, assigned to nobody

[2015-03-30 02:03] jihoonl opened #205 "add chirp in android pairing"

[2015-03-30 02:20] #205 closed, assigned to nobody

[2015-03-30 02:26] 130s opened #206 "turtlebot_joy.cpp is generic enough"
(With a risk of hitting FAQ) For example I can use the node in my own package without specifying anything specific to Turtlebot ([see this](https://github.com/tork-a/spur/pull/15/files)).
How about moving it to somewhere common, eg. https://github.com/ros-drivers/joystick_drivers?

[2015-03-30 02:30] mikeferguson commented on #206
If it were going to be merged with something, it should be merged with https://github.com/ros-teleop/teleop_twist_joy

[2015-03-30 02:30] mikeferguson commented on #206
Also, I think teleop_twist_joy is mainly missing the mux support (as far as being a drop in replacement)

[2015-03-30 02:50] mmwise commented on #206
I think I am torn by this largely because TurtleBot is meant to be instructional and stable.

In terms of instructional all the code is in one place for people to look at and understand what is going on and has several options configured specifically for te TurtleBot. However it may model ROS inproperly by making yet another teleop package...

In terms of stability the TurtleBot tutorials all depe

[2015-03-30 04:16] tfoote commented on #206
I think it's fine to keep them separate for now. Migrating it will be a large effort and there's a lot of references etc to the current state which is not broken and does not have a pressing need to change in itself.

If you want specific functionality provided by turtlebot_joy I'd say go ahead and use it, or better submit a pull-request to add that capability to teleop_twist_joy. I agree that cre

[2015-04-15 05:42] jihoonl commented on #197
Done.

[2015-04-15 05:42] #197 closed, assigned to nobody

[2015-04-15 05:43] jihoonl opened #208 "visualisation interaction fix"
view_model_with_robot.launch -> view_model.launch

[2015-04-15 05:43] #208 closed, assigned to nobody

[2015-04-28 23:36] 130s commented on #206
All comments make sense to me. I switched my application to https://github.com/ros-teleop/teleop_twist_joy as well. Thanks!

[2015-04-28 23:36] #206 closed, assigned to nobody

[2015-05-27 00:47] jihoonl opened #210 "make_a_map interaction"
update it to use rocon_apps/make_a_map instead of turtlebot_rapps/make_a_map

[2015-05-27 00:50] #210 closed, assigned to nobody

[2015-06-19 07:56] Shrawan99 opened #211 "Got this error while using fake_turtlebot.launch in simple_gui.html"
Invalid <arg> tag: rbx1_description
ROS path [0]=/opt/ros/hydro/share/ros
ROS path [1]=/home/turtlebot/catkin_ws/src
ROS path [2]=/opt/ros/hydro/share
ROS path [3]=/opt/ros/hydro/stacks.

Arg xml is
arg default="$(find xacro)/xacro.py '$(find rbx1_description)/urdf/turtlebot.urdf.xacro'" name="urdf_file"

**fake_turtlebot.launch**

![launch](https://cloud.githubusercontent.com/assets/7807650/82570

[2015-06-19 15:12] trainman419 commented on #211
Please reformat your question to use the preformatted text option; as it is all of the important data in your issue isn't visible.

[2015-06-19 15:49] Shrawan99 commented on #211
Sorry sir i am new  on posting question in Github.. There is some problem in _rbx1_description_ ..

[2015-06-19 16:30] trainman419 commented on #211
Please see the github formatting guide: https://help.github.com/articles/github-flavored-markdown/

[2015-06-19 16:33] trainman419 commented on #211
This issue tracker is for bugs in the turtlebot code; it looks like you're having trouble with a launch file that you either wrote yourself, or which is from a different package (perhaps the ROS by Example book?)

If this isn't a bug with one of the nodes or launch files in the turtlebot stack, you should follow the [ROS Support Guidelines](http://wiki.ros.org/Support) and ask a question on [ROS A

[2015-07-28 12:13] koenlek opened #212 "Are there any plans for a Jade release?"
Hi all,

I use the turtlebot packages for navigation simulation, and I wondered if and when I could expect a Jade version of it. I would like to be able to make use of the improvements that Gazebo 5 offers, which is delivered with Jade...

Best,
Koen

[2015-09-08 20:37] nckswt commented on #212
I'm really interested in this as well. I'd tried a source install to get the Turtlebot stack working in Jade, and after a full day, I couldn't get it working.

[2015-09-09 01:05] jihoonl commented on #212
Sorry guys. Due to the some difficulties, we have decided to skip jade debs and support only indigo. However, I will try to help you to get jade source version working. What is causing the problem in jade?

[2015-09-10 12:05] spragunr commented on #212
This is a real shame.  Turtlebot is currently the best option for ROS in education.  Skipping an entire ROS release is a big blow.  Have you contacted OSRF to see if they would be willing to help out?  I would think they would have an interest in keeping Turtlebot viable.   Can you elaborate a bit on the difficulties that are preventing Jade debs?

[2015-09-10 13:21] bstag commented on #212
The indigo is fully ready to go announcement for turtlebot only came out
this week.

On Thu, Sep 10, 2015 at 7:05 AM, Nathan Sprague notifications@github.com
wrote:

##

for secure mail be sure to mail me with proton mail at
blackstag@protonmail.ch

[2015-09-10 16:19] mikeferguson commented on #212
I think you'll find that with the short life cycle of Jade (2 years) versus Indigo (5 years), most hardware vendors will stick with Indigo. Both Indigo and Jade support Ubuntu Trusty which is an LTS (long term support, 5 years), whereas all the other Ubuntu versions that Jade adds support for, over Indigo, are only 9 months of support, which is really too short for rolling out onto hardware.

A si

[2015-09-10 17:38] tfoote commented on #212
@spragunr It's not so much that there are specific difficulties, it's that QAing and testing and releasing everything is a lot of work. Especially with tutorials and teaching material there is a lot of content to update for each release. We recommend using the more stable LTS release for these types of things. That's exactly why the LTS exists to allow parts of the community to choose to iterate l

[2015-09-10 17:38] #212 closed, assigned to nobody

[2015-09-10 17:48] spragunr commented on #212
@tfoote I understand, and I appreciate the hard work that goes into a release.  This particular case is a bit disappointing because I rely quite a bit on gazebo in my courses.  The version of gazebo in Indigo is painfully worse than the version in Jade.

I will say that Indigo is the best release yet for working with Turtlebot.  All of the pieces are working together smoothly for the first time in

[2015-09-11 01:07] jihoonl commented on #212
@spragunr Sorry, it seems like my wording confused you. Like @tfoote mentioned above and @stonier mentioned in turtlebot sig, the difficulties are not technical. We just don't have human resource to maintain all materials(e.g wiki, tutorials) around debs for short term releases.

However, I understands that your situation that the big changes in jade gazebo makes you to use jade. And jade debs wou

[2015-09-11 01:09] jihoonl commented on #204
http://wiki.ros.org/turtlebot_concert

[2015-09-11 01:09] #204 closed, assigned to nobody

[2016-02-25 15:40] nampi opened #214 "Outdated comment "Currently Broken" in follower application"
The comment “(Currently Broken)” looks outdated in this line https://github.com/turtlebot/turtlebot/blame/indigo/turtlebot_bringup/interactions/pairing.interactions#L81. I have tried to launch it, it works correctly in gazebo concert (simulation). Could you check the reason of this comment, please?

[2016-04-05 13:07] asimay opened #216 "cannot find turtlebot.urdf.xacro file."
in file: turtlebot/turtlebot_description/test.launch
I cannot find the following files:
*_arg name="urdf_file" default="$(find xacro)/xacro.py '$(find turtlebot_description)/robots/turtlebot.urdf.xacro'" *_
please tell me where is turtlebot.urdf.xacro file. thanks

[2016-04-28 16:40] somebodyus opened #217 "a bug: continuously self rotating"
I installed the latest version of turtlebot.
I start the minimal.launch, and opened rviz. I set the fixed frame to `odom`, then I found the whole TF tree is rotating continuously. I haven't given any input for the turtlebot.

Can anybody tell me why? I am now using indigo.

[2016-04-29 20:15] tfoote commented on #217
Please provide more information to allow us to reproduce. Helpful information would include how fast it's spinning, what direction, possibly even a screencast. Logged data would also be helpful . What environment is your turtlebot in? Is it repeatable if so how. What hardware are you running on?

[2016-04-30 15:09] somebodyus commented on #217
Thank you so much, but the problem is very strange.
The bug is automatically fixed after I installed some updates, specially the Nvidia driver.

[2016-04-30 16:05] tfoote commented on #217
That is odd. I'm going to close this then. Glad to hear it's fixed.

[2016-04-30 16:05] #217 closed, assigned to nobody

[2016-05-01 02:32] stonier commented on #217
If it's rotating around the yaw axis, it could be the gyro. I can't remember if it occurs for that gyro, but some gyros use the first few seconds to initialise their filters. If you are carrying the robot (which you can do with the kobuki) and subsequently moving it in unexpected directions, it will badly initialise the filter. Resulting in a non-zero rate when you finally put the robot at rest on

[2016-05-01 03:43] somebodyus commented on #217
Yes. It is rotating around yaw axis.
The behavior is very similar as the IMU rotating. It once happened a few month ago. I thought it was a driver bug, so I compiled from the source and solved the problem.
How can I fix the problem if it happen again?

[2016-05-01 13:43] stonier commented on #217
Just make sure you turn the robot on when it is on the ground and at rest.  That is all.

[2016-05-01 13:47] stonier commented on #217
Oh, I just remembered. A very long time ago there was a gyro drift bug in the firmware. Check that you have the latest firmware. v1.1.4 is the gyro drift bugfix.
- [Firmware Changelog](https://github.com/yujinrobot/kobuki_core/blob/hydro-devel/kobuki_driver/firmware_changelog.md)
- [Firmware Blobs](http://files.yujinrobot.com/kobuki/firmware/)
- [Upgrade Instructions](http://kobuki.yujinrobot.com/

[2016-05-23 21:36] mkhansenbot opened #219 "Will turtlebot be released & supported on Kinetic?"
Our team is using the Turtlebot for testing and development. We know that there wasn't support for the turtlebot in 'Jade' release, but we were expecting that 'Kinetic' would include it. However, looking at the beta release and the build farm, it doesn't appear to be added for Kinetic. Is that correct? Are you planning on adding support for Kinetic?

[2016-05-23 23:58] stonier commented on #219
It's in the pipeline. You'll notice we've got alot of the underlying packages in already.

[2016-05-24 01:44] tfoote commented on #219
Higher level packages typically lag while waiting for dependencies to be released. We're pretty close on the turtlebot however.

Comparing to Indigo, the following repositories are blocking.  I think most of these are within the core TurtleBot maintainers list so I hope to get it out in a matter of weeks if not sooner.

[code]

With most of the packages already released I've been running demos wit

[2016-05-24 02:41] tfoote commented on #219
@stonier @jihoonl I pushed on a bunch of the blocking repos. we're down to just a few repos left blocking turtlebot release. Could you take a look at what's releaseable and see if we can get turtlebot out.

[2016-05-25 08:34] stonier commented on #219
Aye, I aim to keep driving it bit by bit when I can free up a few minutes.

[2016-06-01 01:40] bit-pirate opened #221 "Verify Astra URDF"
The internal links need to be verified.

[2016-06-01 02:02] tfoote commented on #216
That test looks to be out of date. There are more specific filenames in this directory: https://github.com/turtlebot/turtlebot/tree/indigo/turtlebot_description/robots

[2016-06-15 07:57] tfoote commented on #219
We're getting pretty close:

These packages are ready to release:
-   robot_pose_publisher
-   rocon_multimaster
-   warehouse_ros
-   yujin_ocs

After rocon_multimaster, rocon_app_platform will be releasable, and after that kobuki. And that will get us to releasing turtlebot.

The smart_battery_msgs has been collapsed into sensor_msgs so it goes away.

I plan to split the warehouse/world_canvas d

[2016-06-20 18:37] stonier commented on #219
@tfoote sorry, got nailed at work the last week/weekend.

Managed to get `yujin_ocs` out. Stuff in `rocon_multimaster` and `rocon_app_platform` have simplified so the old launchers probably won't work out of the box. I'll have to go back and revisit them and the tutorials to make sure they are still ok. I don't think we'll do any support for multi-robot or android out of the box though - just don'

[2016-06-20 20:58] tfoote commented on #219
Thanks @stonier

And I see @130s got a release of warehouse_ros out too. Thanks.

@rctoris could you release robot_pose_publisher?

[2016-06-20 21:52] tfoote commented on #219
@corot could you make releases of the world_canvas stacks into Kinetic?

It looks like those are the remaing blockers outside the ones mentioned above.

[code]

[2016-06-21 01:46] stonier commented on #219
Hopefully have the rocon_xxx stacks through now. Trying to bloom kobuki now.

Just to give you an idea of eta - I'm off on holiday without a computer until Friday. I will play around on Friday to make sure everything through to kobuki is up and building (will do world canvas if @corot doesn't chime in).

Next week I will be able to spend some small time playing with turtlebot to get it working.

[2016-06-22 17:13] rctoris commented on #219
@tfoote all set https://github.com/ros/rosdistro/pull/11939

[2016-06-22 17:50] tfoote commented on #219
Thanks @stonier @rctoris! turtlebot itself is unblocked. I'll do some testing and get an initial release out.

@corot will you have a chance to release world_canvas_\* soon? It's the only remaining blocker for turtlebot_apps besides turtlebot. (`smart_battery_msgs` has been replaced between indigo and kinetic.)

[code]

[2016-06-27 20:17] tfoote opened #224 "add a way to disable laptop battery checks"
We're seeing TurtleBots w/o laptop batteries. There should be a way to avoid the warnings that the laptop battery could not be measured.

[2016-06-28 14:00] stonier commented on #224
Resolved by PR #225 with the new roslaunch eval expression.

[2016-06-28 14:00] #224 closed, assigned to tfoote

[2016-06-29 22:43] ghindman commented on #219
Any update on expected timeline for release into Kinetic?

[2016-06-30 01:55] tfoote commented on #219
The basic capabilities up through `turtlebot_apps` are out as of this morning in the testing repo. http://repositories.ros.org/status_page/ros_kinetic_default.html?q=turtlebot

There's one more part turtlebot_viz before I'd like to close this but I think we're pretty much there.

[2016-06-30 07:58] corot commented on #219
Hi, sorry for not answering before. Yes, I'll try to release world_canvas_\* soon...  but I hope we call soon to the same thing! :speak_no_evil. Beginning of next week, most probably.

[2016-06-30 21:06] tfoote commented on #219
@corot @stonier helped you out by just rereleasing the previous versions I believe.

[2016-07-01 00:23] tfoote commented on #219
To close this out I found the following dependencies:

[code]

The driver common dependency of kobuki_desktop is a little surprising and a quick browse on the codebase didn't find the dependency, but I might not have looked in all the right places.

Again smart_battery_msgs has been replaced so is not a blocker.

I released turtlebot_create_desktop but it needs a patch: https://github.com/turtlebo

[2016-07-11 16:32] rohbotics commented on #219
For simulator:

[code]

The driver_common dependency is weird here too, I can't seem to find it with grep.

kobuki_desktop will compile with this PR https://github.com/yujinrobot/kobuki_desktop/pull/46

I opened an issue with stdr_simulator for a kinetic release https://github.com/stdr-simulator-ros-pkg/stdr_simulator/issues/193

[2016-07-16 03:07] stonier commented on #214
Fixed in 6f99772e63ee66b3fd4288350d1f79b2e7e65c45. Cherry picked to kinetic.

[2016-07-16 03:07] #214 closed, assigned to stonier

[2016-07-16 03:09] stonier opened #227 "Teleop upgrade"
Turtlebot teleop code switch to [ros-teleop](https://github.com/ros-teleop) implementations(https://github.com/turtlebot/turtlebot/issues/180)

[2016-07-16 03:10] stonier commented on #203
Closing this - we're now well into kinetic. Teleop issue recreated in #227. Capabilities I'll drop for now since there's not an engineer dedicated for this (would be great to advertise them though).

[2016-07-16 03:10] #203 closed, assigned to stonier

[2016-07-16 03:12] stonier commented on #183
Turtlebot rosinstalls have long since been cleaned out. Closing.

[2016-07-16 03:12] #183 closed, assigned to stonier

[2016-07-16 03:16] stonier opened #228 "Capabilities w/ Rapps"
There's some interesting starts in the `caps_rapp_upgrade` branch.

[2016-07-16 03:16] stonier commented on #181
Yes, some useful commits if ever someone gets to working on capabilities with the rapps. New issue #228 covering this.

[2016-07-16 03:16] #181 closed, assigned to stonier

[2016-07-16 03:19] stonier commented on #165
It makes sense if your wheel odometry and gyro are coming from different sources OR you possibly have another source of odometry.

The kobuki driver already fuses these internally however, so no point adding another layer to the onion unless necessary. Of course, if you want to add another odometry input (e.g. visual odometry), it would then make sense to have something like this combining the kob

[2016-07-16 03:19] #165 closed, assigned to stonier

[2016-07-16 03:19] stonier commented on #180
Duplicate of #227.

[2016-07-16 03:19] #180 closed, assigned to stonier

[2016-07-16 03:23] stonier commented on #228
Would be great to advertise capabilities via turtlebot, but I'm not sure it's going to create a 'simple' environment for turtlebot which is aimed at new ROS users afterall. And it would need an engineer on it.

Key discussion points:

No capabilities for create - unless someone gets in and does these, the idea of capabilities is awol. Are we going to support create? Is there much work to making Cr

[2016-07-16 03:23] stonier commented on #146
Discussion moved to #228.

[2016-07-16 03:23] #146 closed, assigned to nobody

[2016-08-12 02:14] rohbotics commented on #219
Looks like we are good for turtlebot_interactions

[code]

For turtlebot_simulator:

[code]

I am still not sure where driver_common is coming from

[2016-08-12 21:08] tfoote commented on #219
turtlebot_interactions released https://github.com/ros/rosdistro/pull/12350

[2016-08-12 22:06] tfoote commented on #219
Those packages have built at least on xenial the other builds are in progress. Thanks for everyone's effort to get this out!

[2016-08-12 22:06] #219 closed, assigned to nobody

[2016-09-06 16:40] jasonswee opened #233 "Rocon node keeps dying when roslaunch minimal.launch"
![error](https://cloud.githubusercontent.com/assets/13789695/18282402/980b6d04-7493-11e6-8efe-33a7d761dd45.png)

Rocon nodes keeps dying and it fails to connect to turtlebot

[2016-09-07 04:36] stonier commented on #233
Are you on indigo or kinetic?

[2016-09-07 06:34] jasonswee commented on #233
@stonier  indigo

I wonder if the issue is due to missing package ros-indigo-rqt-wrapper
I created a [rocon issue](https://github.com/robotics-in-concert/rocon/issues/39)

[2016-09-07 21:25] tfoote commented on #233
Closing this as it does not appear to be a turtlebot issue. My guess is that you have not run message generation appropriately in your workspace(s). I suggest that you open a question on http://answers.ros.org with a full description of how you setup your workspace following our guidelines at http://wiki.ros.org/Support

[2016-09-07 21:25] #233 closed, assigned to nobody

[2016-09-10 07:37] stonier commented on #233
Has the wrong source branch for turtlebot I expect.

[2016-10-26 09:29] lc75 opened #234 "Velocity smoother for Teleop non compatible with namespaces"
It seems that the Velocity Smoother for teleop is not compatible with namespaces. If I use the smoother inside a group namespace <group ns="robot1">, it will not work and use the wrong topics.

My suggestion is to avoid using absolute topic names in the <remap> tags and for the nodelet manager.

`turtlebot_teleop/launch/includes/velocity_smoother.launch.xml` should be like this:

<launch>
<node pk

[2016-10-26 09:37] stonier commented on #234
PR's are good :)

[2016-10-26 09:43] lc75 commented on #234
I'm sorry Daniel, but I don't understand your comment. Is this an issue or should it be left as it is now?

[2016-10-26 09:48] stonier commented on #234
It's a reasonable improvement...send us a Pull Request

[2016-10-26 09:54] #234 closed, assigned to nobody

[2016-11-04 12:01] alesolano opened #236 "Is there an easy way to start with Gazebo in Kinetic?"
Hi!
I'm new in kinetic and Gazebo. I upgraded to kinetic when I was just starting to learn to use Gazebo, because I read that kinetic uses Gazebo 7.x versions, but I'm having problems to install the turtlebot packages.

I know that in indigo you could do:
`$ sudo apt-get install ros-indigo-turtlebot ros-indigo-turtlebot-apps ros-indigo-turtlebot-interactions ros-indigo-turtlebot-simulator ros-indi

[2016-11-10 03:41] stonier commented on #236
You should be able to get what you need just by installing `ros-kinetic-turtlebot-gazebo`, which will take care of all the dependencies.

Once you install them, make sure you rerun `source /opt/ros/kinetic/setup.bash` to catch the `TURTLEBOT_GAZEBO_WORLD_FILE` variable. That is I expect what you were missing.

Re-open this if you still have questions.

[2016-11-10 03:42] #236 closed, assigned to stonier

[2016-11-10 11:06] alesolano commented on #236
Thanks!

So, just for the sake of learning, what do the other packages really do?

[2016-11-15 02:06] stonier commented on #221
I am guessing this means the Turtlebot [REP 119](http://www.ros.org/reps/rep-0119.html) related settings.

For reference, the astra urdf went in at pull request #220.

Two points here:
- Right now it does not use the properities in `turtlebot_properties.urdf` (e.g. `cam_px`), it should.
- Need to check the depth/cam relative links to make sure they are in the correct place according to the REP
- F

[2016-11-15 07:48] bit-pirate commented on #221
@stonier we should at Hyunchul to the TB organisation so we can assign issues like this one to him.

[2016-11-21 03:06] jonpol01 opened #246 "Bumping behavior"
Hi.. is it possible to customized the turtlebot bumping behavior?
ex. if it bumps let it do something.

If yes, can you please tell where to begin.?

[2016-11-21 06:43] bit-pirate commented on #246
This kind of usage question is better asked on [ROS Answers](http://answers.ros.org/). We are trying to keep this issue tracker focusing on code-related issues and feature requests.

For the TurtleBot 2 (using the Kobuki base) you could subscribe to the [bumper events topic](https://github.com/yujinrobot/kobuki_msgs/blob/kinetic/msg/BumperEvent.msg) and then build logic around that. Refer to the [

[2016-11-21 06:43] #246 closed, assigned to nobody

[2017-01-30 23:27] fishcu opened #250 "cannot launch kobuki_dashboard on kinetic"
Hi, I installed turtlebot kinetic packages using apt-get. I'm getting some errors, as I already described on ROS answers:
http://answers.ros.org/question/252837/cannot-launch-kobuki_dashboard-on-kinetic/?comment=253230#post-id-253230
http://answers.ros.org/question/252931/turtlebot-debs-installation-missing-kinetic-packages/

The main issue(s) seem to be:
- When trying "rqt -s kobuki_dashboard", I

[2017-02-11 11:19] ytgui opened #251 "Typo in turtlebot_teleop_key.py"
https://github.com/turtlebot/turtlebot/blob/kinetic/turtlebot_teleop/scripts/turtlebot_teleop_key#L163

[code]

[2017-02-17 09:12] corot opened #252 "[Kinetic] Update Xacro call to remove WARNs"
Following [this ROS answer](http://answers.ros.org/question/254595/xacro-problem-kinectic-1604-turtlebot2/), we need to update robot model load to conform to Kinetic and avoid this WARN:
[code]

[2017-02-21 06:28] yuki-asano commented on #250
Hi, I'm facing the same problem when setting up a turtlebot using apt-get on ubuntu 16.04 and ros kinetic.
I hope this bug will be fixed.

[2017-02-22 01:48] yuki-asano commented on #250
This problem is related to qt5 used on ubuntu16.04.
Thanks for your advice. @k-okada

As correcting following two lines, it looks like working as shown in the attached screenshot.

in dashboard.py
from QtGui import QMessageBox, QAction
->
from QtWidgets import QMessageBox, QAction

in battery_widgets.py
from python_qt_binding.QtGui import QToolButton
->
from QtWidgets import QToolButton

![kobuki_